## Контрольная работа

In [1]:
import pandas as pd
import numpy as np

### Датафрейм с которым вы будете сегодня работать

In [2]:
data = [['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']]

df = pd.DataFrame(data, columns = ['surname', 'name', 'tarif', 'balance', 'age', 'sms', 'voice', 'city', 'phone'])

In [3]:
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [1]:
#surname    - Фамилия клиента 
#name       - Имя клиента
#tarif      - Тариф клиента
#balance	- Баланс клиента
#age	    - Возраст клиента
#sms	    - Количество отправленных СМС
#voice	    - Количество секунд разговора (звонки)
#city	    - Город клиента
#phone      - Марка телефона клиента

## Ответы на вопросы загрузите на степик

### Вопрос 1: определите средний возраст клиента

In [5]:
df.age.mean()

48.6

### Вопрос 2: на каком тарифе средний возраст клиента наименьший

In [8]:
df.reindex(['tarif', 'age'], axis = 1)

                 tarif  age
0                  ВИП   29
1           Все за 300   37
2           Всё за 800   47
3           Всё за 500   75
4           Всё за 800   43
5           Всё за 500   49
6           Всё за 800   60
7                Промо   47
8                  ВИП   72
9           Всё за 800   52
10               Промо   28
11       Корпоративный   69
12       Корпоративный   71
13               Промо   39
14  Всё за 250 (архив)   32
15          Всё за 800   59
16          Всё за 800   29
17       Корпоративный   71
18          Всё за 800   28
19               Промо   65
20          Всё за 500   49
21          Всё за 500   38
22          Все за 300   62
23          Всё за 800   48
24          Все за 300   53
25       Корпоративный   70
26  Всё за 250 (архив)   28
27          Всё за 500   41
28          Всё за 500   26
29          Всё за 500   41

In [14]:
df.tarif.unique()

array(['ВИП', 'Все за 300', 'Всё за 800', 'Всё за 500', 'Промо',
       'Корпоративный', 'Всё за 250 (архив)'], dtype=object)

In [17]:
df.tarif[df.tarif == 'Всё за 500']

3     Всё за 500
5     Всё за 500
20    Всё за 500
21    Всё за 500
27    Всё за 500
28    Всё за 500
29    Всё за 500
Name: tarif, dtype: object

In [20]:
df[df.tarif == 'Всё за 500'].age.mean()

45.57142857142857

In [25]:
d = {}
for i in df.tarif.unique():
    d.setdefault(i, df[df.tarif == i].age.mean())

In [27]:
d

{'ВИП': 50.5,
 'Все за 300': 50.666666666666664,
 'Всё за 800': 45.75,
 'Всё за 500': 45.57142857142857,
 'Промо': 44.75,
 'Корпоративный': 70.25,
 'Всё за 250 (архив)': 30.0}

In [29]:
for k,w in sorted(d.items(), key = lambda x: x[1]):
    print (k,w)

Всё за 250 (архив) 30.0
Промо 44.75
Всё за 500 45.57142857142857
Всё за 800 45.75
ВИП 50.5
Все за 300 50.666666666666664
Корпоративный 70.25

### Вопрос 3: с какого города больше всего клиентов?

In [37]:
df.city.describe()

count         30
unique         4
top       Moscow
freq          11
Name: city, dtype: object

### Вопрос 4: на каком тарифе отправили больше всего СМС?

In [39]:
df.tarif.unique()

array(['ВИП', 'Все за 300', 'Всё за 800', 'Всё за 500', 'Промо',
       'Корпоративный', 'Всё за 250 (архив)'], dtype=object)

In [41]:
df.reindex(['tarif', 'sms'], axis=1)

                 tarif  sms
0                  ВИП   58
1           Все за 300   78
2           Всё за 800   81
3           Всё за 500   98
4           Всё за 800   61
5           Всё за 500   39
6           Всё за 800   31
7                Промо   90
8                  ВИП   88
9           Всё за 800   53
10               Промо   67
11       Корпоративный   19
12       Корпоративный   82
13               Промо   12
14  Всё за 250 (архив)    6
15          Всё за 800   82
16          Всё за 800   74
17       Корпоративный   22
18          Всё за 800   35
19               Промо   34
20          Всё за 500   62
21          Всё за 500   11
22          Все за 300   68
23          Всё за 800   39
24          Все за 300   24
25       Корпоративный   71
26  Всё за 250 (архив)   19
27          Всё за 500   33
28          Всё за 500   93
29          Всё за 500    5

In [48]:
sum(df.sms[df.tarif == 'Всё за 500'])

341

In [50]:
d = {}
for i in df.tarif.unique():
    d.setdefault(i, sum(df.sms[df.tarif == i]))

In [56]:
for k,w in sorted(d.items(), key = lambda x: x[1], reverse = True):
    print(k, "- ", w)

Всё за 800 -  456
Всё за 500 -  341
Промо -  203
Корпоративный -  194
Все за 300 -  170
ВИП -  146
Всё за 250 (архив) -  25

### Вопрос 5: определите самую популярную марку смартфона у пользователей до 40 (включительно)

In [63]:
df.reindex(['age','phone'], axis = 1)[df.age<=40]

    age    phone
0    29   Xiaomi
1    37  Samsung
10   28   Xiaomi
13   39   Xiaomi
14   32   Huawei
16   29   Xiaomi
18   28    Apple
21   38   Xiaomi
26   28   Huawei
28   26   Xiaomi

In [64]:
df.reindex(['phone'], axis = 1)[df.age<=40].describe()

         phone
count       10
unique       4
top     Xiaomi
freq         6

### Вопрос 6: определите самую популярную марку смартфона у пользователей старше 40

In [72]:
df.reindex(['age','phone'], axis = 1)[df.age>40]

    age    phone
2    47   Huawei
3    75    Apple
4    43  Samsung
5    49   Xiaomi
6    60  Samsung
7    47    Apple
8    72    Apple
9    52    Apple
11   69  Samsung
12   71    Apple
15   59    Apple
17   71   Huawei
19   65  Samsung
20   49   Xiaomi
22   62  Samsung
23   48   Xiaomi
24   53    Apple
25   70   Huawei
27   41   Xiaomi
29   41  Samsung

In [74]:
df.reindex(['phone'], axis = 1)[df.age>40].describe()

        phone
count      20
unique      4
top     Apple
freq        7

### Вопрос 7: В каком городе клиенты меньше всего отправляют СМС

In [76]:
df['city'].unique()

array(['Moscow', 'Kazan', 'Yakutsk', 'Vladivostok'], dtype=object)

In [78]:
sum(df.sms[df.city == 'Moscow'])

519

In [79]:
d = {}
for i in df['city'].unique():
    d.setdefault(i, sum(df.sms[df.city==i]))

In [85]:
sorted(d.items())

[('Kazan', 501), ('Moscow', 519), ('Vladivostok', 230), ('Yakutsk', 285)]

### Вопрос 8: В каком городе клиенты больше всего говорят по телефону?

In [87]:
d = {}
for i in df.city.unique():
    d.setdefault(i, sum(df.voice[df.city == i]))

In [92]:
sorted(d.items(), key = lambda x: x[1], reverse = True)

[('Moscow', 49355),
 ('Yakutsk', 48973),
 ('Kazan', 27531),
 ('Vladivostok', 22818)]

### Вопрос 9: Сколько заработала фирма на СМС сообщениях? Стоимость одного сообщения 3 рубля.

In [100]:
df['sms'].sum()*3

4605

### Вопрос 10: Сколько заработала фирма на СМС сообщениях? Тарифная сетка:
#### ВИП                   - 1 рубль за СМС
####  Все за 300            - 2 рубля за СМС
####  Всё за 500            - 3 рубля за СМС
####  Всё за 800            - 4 рубля за СМС
####  Промо                 - 7 рублей за СМС
####  Корпоративный         - 0 рублей за СМС
####  Всё за 250 (архив)    - 5 рублей за СМС

In [101]:
df.tarif.unique()

array(['ВИП', 'Все за 300', 'Всё за 800', 'Всё за 500', 'Промо',
       'Корпоративный', 'Всё за 250 (архив)'], dtype=object)

In [102]:
d = {}
for i in df.tarif.unique():    
    d.setdefault(i, sum(df.sms[df.tarif==i]))

In [103]:
d

{'ВИП': 146,
 'Все за 300': 170,
 'Всё за 800': 456,
 'Всё за 500': 341,
 'Промо': 203,
 'Корпоративный': 194,
 'Всё за 250 (архив)': 25}

In [104]:
s = 0
for k,w in d.items():
    if k == 'ВИП':
        s +=w
    if k == 'Все за 300':
         s +=w*2
    if k == 'Всё за 500':
        s +=w*3
    if k == 'Всё за 800':
        s +=w*4
    if k == 'Промо':
        s +=w*7
    if k == 'Всё за 250 (архив)':
        s +=w*5
print(s)

4879

### Вопрос 11: Определите процент клиентов, у которых баланс выше 4000

In [106]:
df.balance.count()

30

In [108]:
df.balance[df.balance>4000].count()

9

In [109]:
percentaje = df.balance[df.balance>4000].count()/df.balance.count()*100

In [111]:
percentaje

30.0

### Вопрос 12: Определите процент клиентов, у которых баланс выше 2000 и тариф 'Всё за 500'

In [113]:
df.name.count()

30

In [117]:
df.name[(df.balance>2000) & (df.tarif == 'Всё за 500')].count()

5

In [118]:
perc = df.name[(df.balance>2000) & (df.tarif == 'Всё за 500')].count()/df.name.count()*100

In [119]:
perc

16.666666666666664

### Вопрос 13: Сколько клиентов из Москвы, у которых баланс выше 1500 и марка телефона 'Apple'?

In [121]:
df.name.count()

30

In [125]:
df.name[(df.city == 'Moscow') & (df.phone == 'Apple') & (df.balance > 1500)].count()

2

### Вопрос 14: Самое распространённое имя среди наших клиентов?

In [126]:
df.name.describe()

count         30
unique         6
top       Sergey
freq           8
Name: name, dtype: object

### Вопрос 15: Определите процент клиентов у которых телефон Apple и они из Владивостока

In [127]:
df.name.count()

30

In [128]:
df.name[(df.city == 'Vladivostok') & (df.phone == 'Apple')].count()

1

In [129]:
per = df.name[(df.city == 'Vladivostok') & (df.phone == 'Apple')].count()/df.name.count()*100

In [130]:
per

3.3333333333333335