In [2]:
import pandas as pd
import numpy as np

In [13]:
f = open('example.csv')

In [7]:
for i in f:
    print(i)
f.close()

a,b,c

1,2,3

4,5,6

7,8,9

In [12]:
for i in f:
    print(i.split(','))
f.close()

['a', 'b', 'c\n']
['1', '2', '3\n']
['4', '5', '6\n']
['7', '8', '9']

In [14]:
matrix = []
for i in f:
    matrix.append((i.split(',')))
f.close()

In [15]:
matrix

[['a', 'b', 'c\n'], ['1', '2', '3\n'], ['4', '5', '6\n'], ['7', '8', '9']]

In [16]:
df = pd.DataFrame(matrix)

In [17]:
df

   0  1    2
0  a  b  c\n
1  1  2  3\n
2  4  5  6\n
3  7  8    9

In [18]:
pd.read_csv('example.csv')

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
## Задание

# Скачайте набор данных в формате CSV. Набор данных содержит подробную информацию об общем 
# количестве проходов пассажиров на станции метрополитена через турникеты по входу и об общем количестве выходов, 
# осуществленных пассажирами со станций метрополитена.

# Источник данных: Портал открытых данных Правительства Москвы: Пассажиропоток по станциям Московского метрополитена


# Задание:

# 1) скачайте файл с данными 
# (файл скачан и перемещен в эту же папку с jupyter notebook - название - Пассажиропоток_МосМетро_2.csv)

# 2) определите разделитель и загрузите данные в датафрейм

# 3) определите название станции, на которой было наибольшее количество входов за 4 квартал 2021 года

# В ответе укажите название станции

In [24]:
df = pd.read_csv('Пассажиропоток_МосМетро_2.csv', sep = ';')

In [32]:
# если открывать из загрузок
df = pd.read_csv('C:/Users/roman/Downloads/Пассажиропоток_МосМетро_2.csv', sep = ';')

In [33]:
df

,NameOfStation,Line,Year,Quarter,IncomingPassengers,OutgoingPassengers,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,Unnamed: 13
0,Станция метрополитена,Линия,Год,Квартал,Входы пассажиров,Выходы пассажиров,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,NaN
1,Митино,Арбатско-Покровская линия,2021,I квартал,1913498,1829031,1138975996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Волоколамская,Арбатско-Покровская линия,2021,I квартал,1236714,1222309,1138975997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Строгино,Арбатско-Покровская линия,2021,I квартал,1938816,1903731,1138975999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Крылатское,Арбатско-Покровская линия,2021,I квартал,1849616,1818208,1138976000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368,Китай-город,Таганско-Краснопресненская линия,2022,I квартал,0,0,2363487484,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1369,Киевская,Филёвская линия,2022,I квартал,0,0,2363487549,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,Улица Милашенкова,Московская монорельсовая транспортная система,2021,IV квартал,17991,17295,2363643842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,Кунцевская,Филёвская линия,2022,I квартал,543507,529972,2363644363,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,Смоленская,Филёвская линия,2022,I квартал,726197,742423,2363644369,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
mask = df.IncomingPassengers[1:].astype('int64').max()

In [62]:
str(mask)

'7660212'

In [68]:
df.NameOfStation[1:][(df.IncomingPassengers[1:] == str(mask)) & (df.Quarter[1:] == 'IV квартал') & (df.Year[1:] == '2021')]

957    Комсомольская
Name: NameOfStation, dtype: object

In [ ]:
## Задание

In [ ]:
Скачайте набор данных в формате CSV. Набор данных содержит подробную информацию об общем 
количестве проходов пассажиров на станции метрополитена через турникеты по входу и об 
общем количестве выходов, осуществленных пассажирами со станций метрополитена.

Источник данных: Портал открытых данных Правительства Москвы: Пассажиропоток по станциям Московского метрополитена

В файл были внесены некоторые изменения для отработки навыков.

 

Задание:

1) скачайте файл с данными - файл скачен в директорию с jupyter notebook с названием 'Пассажиропоток_МосМетро_3.csv'

2) определите разделитель и загрузите данные в датафрейм. Возможно потребуется пропустить 
какие-то записи для того чтобы загрузка прошла успешно.

3) определите сколько всего было входов по всем станциям за всё время (сумма по столбцу IncomingPassengers)

В ответе укажите целое число без пробелов

In [126]:
df = pd.read_csv('C:/Users/roman/Downloads/Пассажиропоток_МосМетро_3.csv', sep = '|', skiprows = [0, 1, 2, 3, 5,6], na_values = ['\n'])

In [127]:
df

,NameOfStation,Line,Year,Quarter,IncomingPassengers,OutgoingPassengers,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,Unnamed: 13
0,Митино,Арбатско-Покровская линия,2021.0,I квартал,1913498.0,1829031.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Волоколамская,Арбатско-Покровская линия,2021.0,I квартал,1236714.0,1222309.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Строгино,Арбатско-Покровская линия,2021.0,I квартал,1938816.0,1903731.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Крылатское,Арбатско-Покровская линия,2021.0,I квартал,1849616.0,1818208.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Площадь Революции,Арбатско-Покровская линия,2021.0,I квартал,2324687.0,2319343.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369,Киевская,Филёвская линия,2022.0,I квартал,0.0,0.0,2.363488e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,Улица Милашенкова,Московская монорельсовая транспортная система,2021.0,IV квартал,17991.0,17295.0,2.363644e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,Кунцевская,Филёвская линия,2022.0,I квартал,543507.0,529972.0,2.363644e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,Смоленская,Филёвская линия,2022.0,I квартал,726197.0,742423.0,2.363644e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1373,#конец данных,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
~df.IncomingPassengers.isna()

0       True
1       True
2       True
3       True
4       True
        ...
1369    True
1370    True
1371    True
1372    True
1373    True
Name: IncomingPassengers, Length: 1374, dtype: bool

In [115]:
sum(~df.IncomingPassengers.isna())

1374

In [128]:
df.IncomingPassengers[(~df.IncomingPassengers.isnull()) & (~(df.IncomingPassengers == ''))]

0       1913498.0
1       1236714.0
2       1938816.0
3       1849616.0
4       2324687.0
          ...
1368          0.0
1369          0.0
1370      17991.0
1371     543507.0
1372     726197.0
Name: IncomingPassengers, Length: 1372, dtype: float64

In [130]:
sum(df.IncomingPassengers[(~df.IncomingPassengers.isnull()) & (~(df.IncomingPassengers == ''))])

2514195123.0