In [4]:
import pandas as pd
import numpy as np

In [13]:
f = open('example.csv')

In [7]:
for i in f:
    print(i)
f.close()

a,b,c

1,2,3

4,5,6

7,8,9

In [12]:
for i in f:
    print(i.split(','))
f.close()

['a', 'b', 'c\n']
['1', '2', '3\n']
['4', '5', '6\n']
['7', '8', '9']

In [14]:
matrix = []
for i in f:
    matrix.append((i.split(',')))
f.close()

In [15]:
matrix

[['a', 'b', 'c\n'], ['1', '2', '3\n'], ['4', '5', '6\n'], ['7', '8', '9']]

In [16]:
df = pd.DataFrame(matrix)

In [17]:
df

   0  1    2
0  a  b  c\n
1  1  2  3\n
2  4  5  6\n
3  7  8    9

In [18]:
pd.read_csv('example.csv')

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
## Задание

# Скачайте набор данных в формате CSV. Набор данных содержит подробную информацию об общем 
# количестве проходов пассажиров на станции метрополитена через турникеты по входу и об общем количестве выходов, 
# осуществленных пассажирами со станций метрополитена.

# Источник данных: Портал открытых данных Правительства Москвы: Пассажиропоток по станциям Московского метрополитена


# Задание:

# 1) скачайте файл с данными 
# (файл скачан и перемещен в эту же папку с jupyter notebook - название - Пассажиропоток_МосМетро_2.csv)

# 2) определите разделитель и загрузите данные в датафрейм

# 3) определите название станции, на которой было наибольшее количество входов за 4 квартал 2021 года

# В ответе укажите название станции

In [24]:
df = pd.read_csv('Пассажиропоток_МосМетро_2.csv', sep = ';')

In [32]:
# если открывать из загрузок
df = pd.read_csv('C:/Users/roman/Downloads/Пассажиропоток_МосМетро_2.csv', sep = ';')

In [33]:
df

,NameOfStation,Line,Year,Quarter,IncomingPassengers,OutgoingPassengers,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,Unnamed: 13
0,Станция метрополитена,Линия,Год,Квартал,Входы пассажиров,Выходы пассажиров,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,NaN
1,Митино,Арбатско-Покровская линия,2021,I квартал,1913498,1829031,1138975996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Волоколамская,Арбатско-Покровская линия,2021,I квартал,1236714,1222309,1138975997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Строгино,Арбатско-Покровская линия,2021,I квартал,1938816,1903731,1138975999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Крылатское,Арбатско-Покровская линия,2021,I квартал,1849616,1818208,1138976000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368,Китай-город,Таганско-Краснопресненская линия,2022,I квартал,0,0,2363487484,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1369,Киевская,Филёвская линия,2022,I квартал,0,0,2363487549,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,Улица Милашенкова,Московская монорельсовая транспортная система,2021,IV квартал,17991,17295,2363643842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,Кунцевская,Филёвская линия,2022,I квартал,543507,529972,2363644363,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,Смоленская,Филёвская линия,2022,I квартал,726197,742423,2363644369,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
mask = df.IncomingPassengers[1:].astype('int64').max()

In [62]:
str(mask)

'7660212'

In [68]:
df.NameOfStation[1:][(df.IncomingPassengers[1:] == str(mask)) & (df.Quarter[1:] == 'IV квартал') & (df.Year[1:] == '2021')]

957    Комсомольская
Name: NameOfStation, dtype: object

In [ ]:
## Задание

In [ ]:
Скачайте набор данных в формате CSV. Набор данных содержит подробную информацию об общем 
количестве проходов пассажиров на станции метрополитена через турникеты по входу и об 
общем количестве выходов, осуществленных пассажирами со станций метрополитена.

Источник данных: Портал открытых данных Правительства Москвы: Пассажиропоток по станциям Московского метрополитена

В файл были внесены некоторые изменения для отработки навыков.

 

Задание:

1) скачайте файл с данными - файл скачен в директорию с jupyter notebook с названием 'Пассажиропоток_МосМетро_3.csv'

2) определите разделитель и загрузите данные в датафрейм. Возможно потребуется пропустить 
какие-то записи для того чтобы загрузка прошла успешно.

3) определите сколько всего было входов по всем станциям за всё время (сумма по столбцу IncomingPassengers)

В ответе укажите целое число без пробелов

In [126]:
df = pd.read_csv('C:/Users/roman/Downloads/Пассажиропоток_МосМетро_3.csv', sep = '|', skiprows = [0, 1, 2, 3, 5,6], na_values = ['\n'])

In [127]:
df

,NameOfStation,Line,Year,Quarter,IncomingPassengers,OutgoingPassengers,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,Unnamed: 13
0,Митино,Арбатско-Покровская линия,2021.0,I квартал,1913498.0,1829031.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Волоколамская,Арбатско-Покровская линия,2021.0,I квартал,1236714.0,1222309.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Строгино,Арбатско-Покровская линия,2021.0,I квартал,1938816.0,1903731.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Крылатское,Арбатско-Покровская линия,2021.0,I квартал,1849616.0,1818208.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Площадь Революции,Арбатско-Покровская линия,2021.0,I квартал,2324687.0,2319343.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369,Киевская,Филёвская линия,2022.0,I квартал,0.0,0.0,2.363488e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,Улица Милашенкова,Московская монорельсовая транспортная система,2021.0,IV квартал,17991.0,17295.0,2.363644e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,Кунцевская,Филёвская линия,2022.0,I квартал,543507.0,529972.0,2.363644e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,Смоленская,Филёвская линия,2022.0,I квартал,726197.0,742423.0,2.363644e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1373,#конец данных,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
~df.IncomingPassengers.isna()

0       True
1       True
2       True
3       True
4       True
        ...
1369    True
1370    True
1371    True
1372    True
1373    True
Name: IncomingPassengers, Length: 1374, dtype: bool

In [115]:
sum(~df.IncomingPassengers.isna())

1374

In [128]:
df.IncomingPassengers[(~df.IncomingPassengers.isnull()) & (~(df.IncomingPassengers == ''))]

0       1913498.0
1       1236714.0
2       1938816.0
3       1849616.0
4       2324687.0
          ...
1368          0.0
1369          0.0
1370      17991.0
1371     543507.0
1372     726197.0
Name: IncomingPassengers, Length: 1372, dtype: float64

In [130]:
sum(df.IncomingPassengers[(~df.IncomingPassengers.isnull()) & (~(df.IncomingPassengers == ''))])

2514195123.0

In [ ]:
# Задание

In [ ]:
Скачайте набор данных в формате CSV. Набор данных содержит подробную информацию об 
общем количестве проходов пассажиров на станции метрополитена через турникеты по входу 
и об общем количестве выходов, осуществленных пассажирами со станций метрополитена.

Источник данных: Портал открытых данных Правительства Москвы: Пассажиропоток по станциям Московского метрополитена

В файл были внесены некоторые изменения для отработки навыков.

Задание:

1) скачайте файл с данными (это новый файл и он отличается от файла с предыдущего степа)
(Файл скачан и Находится здесь же под названием 'Пассажиропоток_МосМетро_4.csv')

В столбце IncomingPassengers присутствуют пропущенные значения: 0, NULL, None, не указано

2) определите разделитель и загрузите данные в датафрейм. На этапе загрузки сконвертируйте 0, NULL, None, не указано в NaN

В столбце OutgoingPassengers нули не должны сконвертироваться в NaN!

3) С помощью функции pd.isnull определите количество записей, у которых пропущено значение в столбце IncomingPassengers

В ответе укажите число строк в которых пропущено значение в столбце IncomingPassengers

In [78]:
a = pd.read_csv('Пассажиропоток_МосМетро_4.csv', sep = '|', na_values = {'IncomingPassengers': [0, 'NULL', None, 'не указано', '']})

In [ ]:
# С помощью функции pd.isnull определите количество записей, у которых пропущено значение в столбце IncomingPassengers

In [79]:
a.IncomingPassengers.head(5)

0    Входы пассажиров
1             1913498
2             1236714
3             1938816
4             1849616
Name: IncomingPassengers, dtype: object

In [80]:
a.IncomingPassengers.isnull().sum()

37

In [ ]:
# Задание

Вы оказались в аналитическом отделе некоторой социальной сети, которая 
объединяет людей занимающихся благотворительностью. Для вас подготовили выгрузку пользователей в формате csv. 
Загрузите файл в датафрейм и оставьте только пользователей женского пола. Сохраните датафрейм в формате 
csv без индекса и в кодировке utf8. Оставьте только две колонки: username и mail Разделитель значений: точка с запятой. 
Порядок записей не меняйте. Ответ загрузите на степик. 

Скачать выгрузку. Файл скачан в корень здесь с именем: 'users.csv'

In [86]:
df = pd.read_csv('users.csv', sep = ';')

In [88]:
df[df.sex == 'F'].to_csv('users_f.csv', sep = ';', index = False, encoding = 'utf-8', columns = ['username', 'mail'])

In [89]:
df2 = pd.read_csv('users_f.csv', sep = ';')

In [90]:
df2

        username                        mail
0    lambertemma            vsmith@yahoo.com
1          greid     graceholloway@yahoo.com
2      kristin75           stacy77@yahoo.com
3           ecox      kimrosario@hotmail.com
4       markhall  edwardswilliam@hotmail.com
..           ...                         ...
100   moorekelly      lauragardner@yahoo.com
101  vazquezjohn     scottnicholas@gmail.com
102     justin25           ewalker@yahoo.com
103     robert89          lsimmons@gmail.com
104       todd08    hilladrienne@hotmail.com

[105 rows x 2 columns]

In [ ]:
# Задание

Прочитайте первые 50 записей выгрузки и определите количество мужчин.
файл скачан в корень здесь название: 'users(1).csv'

In [92]:
df = pd.read_csv('users(1).csv', sep = ';', nrows = 50)

In [99]:
df[df.sex == 'M'].count()

job                 27
company             27
ssn                 27
residence           27
current_location    27
blood_group         27
website             27
username            27
name                27
sex                 27
address             27
mail                27
birthdate           27
dtype: int64

In [ ]:
# Задание
Определите в какой кодировке сохранена выгрузка.

Скачать выгрузку. Скачано и сохранено в файле: 'Пассажиропоток_МосМетро++.csv'

In [102]:
df = open('Пассажиропоток_МосМетро++.csv', 'r')

In [104]:
df

In [ ]:
Задание

Скачайте выгрузку (скачано и сохранено в файле 'users(2).csv') и организуйте её чтение чанками. 
Размер каждого чанка установите в 30 строк. 
Для пятого чанка с данными определите сколько пользователей с группой крови A+

Группа крови хранится в столбце blood_group

In [28]:
reader = pd.read_csv('users(2).csv', sep = ';', chunksize = 30)

In [29]:
reader

In [18]:
next(reader)

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Records manager,Duncan-Garcia,241-62-8803,"309 Danielle Cliffs\nNorth Amy, NC 69960","(Decimal('-79.694044'), Decimal('145.837904'))",AB+,"['http://www.lara-atkins.info/', 'https://vela...",lambertemma,Stacy Reed,F,"9881 Brown Mission\nWest Marcus, CO 88576",vsmith@yahoo.com,1980-01-04
1,Mental health nurse,Rose-Lee,899-12-4937,Unit 5929 Box 0845\nDPO AE 45149,"(Decimal('16.6696785'), Decimal('-38.243842'))",A-,"['http://jackson-sanchez.net/', 'https://www.g...",greid,Carol Farley,F,USNS Burke\nFPO AE 09663,graceholloway@yahoo.com,1918-07-08
2,Furniture conservator/restorer,Potts and Sons,261-41-9484,"130 Vargas Trail Apt. 244\nNorth Rebecca, WV 1...","(Decimal('-27.9623815'), Decimal('75.091620'))",B-,"['https://www.mclaughlin.com/', 'http://www.gi...",scottmercado,Russell Whitaker,M,"9023 Julie Highway\nJonathanfurt, NE 70139",ghart@gmail.com,1946-09-11

In [26]:
for i in reader:
    print(i.blood_group[i.blood_group == 'A+'].count())
    input('***')

4
***2
5
***3
3
***4
3
***5
4

KeyboardInterrupt: Interrupted by user

In [30]:
chunk = 1
for i in reader:
    print(i.blood_group[i.blood_group == 'A+'].count())
    print('chunk == ', chunk)
    chunk +=1

4
chunk ==  1
5
chunk ==  2
3
chunk ==  3
3
chunk ==  4
4
chunk ==  5
4
chunk ==  6
4
chunk ==  7

# Формат JSON

In [36]:
# Задание

# Скачайте набор данных в формате JSON. Файл скачан в корень здесь название: 'data-399-2022-07-01.json'

# Набор данных позволяет получить информацию о видах билетов и тарифах на проезд в метрополитене и монорельсе, 
# наземном пассажирском транспорте и пригородном железнодорожном транспорте города Москвы.

# Источник данных: Портал открытых данных Правительства Москвы: Тарифы на проезд в городском пассажирском транспорте

# Скачайте файл JSON. Загрузите данные в датафрейм и определите самый дешевый тариф. 
# Стоимость указана в столбце TicketCost, а наименование тарифа NameOfTariff

# В поле ответа вставьте значение из столбца NameOfTariff

In [38]:
data = open('data-399-2022-07-01.json') # когда проблема с кодировкой надо открыть так и посмотреть кодировку

In [39]:
data

In [40]:
df = pd.read_json('data-399-2022-07-01.json', encoding='cp1251') # и здесь эту кодировку прописать

In [41]:
df

,ID,NameOfTariff,TicketZone,global_id,NumberOfZone,TariffDistance,TypeOfTransport,NameOfCarrier,TicketCost,TicketValidity
0,200,«Единый» не более 2 поездок,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368709,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,114.0,"5 дней, включая день продажи"
1,700,«Единый» не более 60 поездок,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368716,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,1970.0,"45 дней, включая день продажи"
2,800,«Единый» на 1 сутки,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368718,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,230.0,"1 сутки с момента первого прохода, начало испо..."
3,1100,«Единый» на 30 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368722,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,2170.0,"30 дней, включая день продажи"
4,1200,«Единый» на 90 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368723,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,5430.0,"90 дней, включая день продажи"
5,1300,«Единый» на 365 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368725,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,19500.0,"365 дней, включая день продажи"
6,2900,«ТАТ» на 30 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368749,-,-,"Автобус, троллейбус, трамвай","[{'NameOfCarrier': 'ГУП «Мосгортранс»'}, {'Nam...",1180.0,"30 дней, включая день продажи"
7,4000,«А» на 30 дней,[{'TicketZone': 'Зона Б (за исключением ЗелАО)...,19368765,-,-,Автобус,"[{'NameOfCarrier': 'ГУП «Мосгортранс»'}, {'Nam...",1180.0,"30 дней, включая день продажи"
8,4400,"«Единый» билет на 1 календарный месяц ТАТ, ММ,...","[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368771,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,2900.0,календарный месяц
9,4600,«Льготный» для учащихся и студентов 1 месяц,[{'TicketZone': 'Зона А'}],19368773,-,-,"Метрополитен, монорельс, МЦК",[{'NameOfCarrier': 'ГУП «Московский метрополит...,405.0,календарный месяц
10,4700,«Льготный» для учащихся и студентов на наземно...,[{'TicketZone': 'Зона А'}],19368775,-,-,"Автобус, троллейбус, трамвай",[{'NameOfCarrier': 'ГУП «Мосгортранс»'}],265.0,календарный месяц
11,4900,Провоз не более 1 места багажа,"[{'TicketZone': 'Зона А, Зона Б'}]",19368778,-,-,"Метрополитен, монорельс, МЦК",[{'NameOfCarrier': 'ГУП «Московский метрополит...,60.0,"5 дней, включая день продажи"
12,5100,«Кошелек» метро/монорельс/МЦК/МЦД,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'МЦК...",19368781,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Центр...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,40.0,с момента изготовления на срок действия носителя
13,5200,«Кошелек» - ТАТ,"[{'TicketZone': 'Зона А, внутри ЗелАО'}]",19368782,-,-,"Автобус, троллейбус, трамвай",[{'NameOfCarrier': 'ГУП «Московский метрополит...,38.0,с момента изготовления на срок действия носителя
14,5300,Банковская карта с транспортным приложением 1 ...,[{'TicketZone': 'Зона А'}],19368783,-,-,"Метрополитен, монорельс, МЦК",[{'NameOfCarrier': 'ГУП «Московский метрополит...,40.0,с момента изготовления на срок действия банков...
15,5400,"Банковская карта с транспортным приложением, 1...",[{'TicketZone': 'Зона А'}],19368785,-,-,"Автобус, троллейбус, трамвай",[{'NameOfCarrier': 'ГУП «Мосгортранс»'}],40.0,с момента изготовления на срок действия банков...
16,7200,«Разовый билет» за 1 зону,[{'TicketZone': 'в пределах железнодорожных ст...,19368810,-,-,"Пригородный электропоезд МТППК, ЦППК",[{'NameOfCarrier': 'АО «Центральная пригородна...,24.0,"указанная дата, но не более, чем 10 дней от да..."
17,7300,«Разовый» льготный,[{'TicketZone': 'в пределах железнодорожных ст...,19368812,-,-,"Пригородный электропоезд ЦППК, МТППК",[{'NameOfCarrier': 'АО «Центральная пригородна...,18.5,"указанная дата, но не более, чем 10 дней от да..."
18,5000,«Кошелек» - «90 минут»,"[{'TicketZone': 'Зона А, внутри ЗелАО'}]",19568047,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,62.0,с момента изготовления на срок действия носителя
19,100,«Единый» не более 1 поездки с возможностью реа...,[{'TicketZone': 'Зона А'}],19616851,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,57.0,"5 дней, включая день продажи"
20,900,«Единый» на 3 суток,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",62863084,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,438.0,"3 суток с момента первого прохода, начало испо..."
21,4200,«Льготный» для учащихся и студентов 3 месяца,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'МЦК...",861748611,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Центр...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,1215.0,3 календарных месяца
22,4300,«Льготный» для учащихся и студентов на наземно...,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",861748635,-,-,"Автобус, троллейбус, трамвай","[{'NameOfCarrier': 'ГУП «Мосгортранс»'}, {'Nam...",795.0,3 календарных месяца
23,7400,«Кошелек» метро/монорельс/МЦК/МЦД,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029842378,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Пригород",[{'NameOfCarrier': 'ГУП «Московский метрополит...,47.0,с момента изготовления на срок действия носителя
24,7800,«Единый» на 30 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846583,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,2570.0,"30 дней, включая день продажи"
25,8000,«Единый» на 90 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846584,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,6940.0,"90 дней, включая день продажи"
26,8100,«Единый» на 365 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846586,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,24450.0,"365 дней, включая день продажи"
27,8200,Банковская карта с технологией бесконтактной о...,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846594,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Пригород",[{'NameOfCarrier': 'ГУП «Московский метрополит...,51.0,день продажи
28,8300,Банковская карта с технологией бесконтактной о...,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846596,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,44.0,с момента изготовления на срок действия банков...
29,8400,«ТАТ» на 90 дней,[{'TicketZone': '-'}],1272597595,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': 'ГУП «Мосгортранс»'}],3720.0,"90 дней, включая день продажи"
30,8500,Аутентификация на основании изображения на уст...,[{'TicketZone': '-'}],2372704815,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Пригород",[{'NameOfCarrier': '-'}],56.0,-
31,8600,«ТАТ» на 90 дней,[{'TicketZone': '-'}],2372709325,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': '-'}],3720.0,"90 дней, включая день продажи"
32,8700,«ТАТ» на 365 дней,[{'TicketZone': '-'}],2372709708,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': '-'}],14000.0,"365 дней, включая день продажи"
33,8800,Банковская карта с технологией бесконтактной о...,[{'TicketZone': '-'}],2372709713,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': '-'}],51.0,с момента изготовления на срок действия банков...
34,8900,Билет для поездок в пределах перечня железнодо...,[{'TicketZone': '-'}],2372709817,-,-,"Пригородный электропоезд ЦППК, МТППК",[{'NameOfCarrier': '-'}],42.0,"указанная дата, но не более, чем 10 дней от да..."

In [42]:
df.TicketCost

0       114.0
1      1970.0
2       230.0
3      2170.0
4      5430.0
5     19500.0
6      1180.0
7      1180.0
8      2900.0
9       405.0
10      265.0
11       60.0
12       40.0
13       38.0
14       40.0
15       40.0
16       24.0
17       18.5
18       62.0
19       57.0
20      438.0
21     1215.0
22      795.0
23       47.0
24     2570.0
25     6940.0
26    24450.0
27       51.0
28       44.0
29     3720.0
30       56.0
31     3720.0
32    14000.0
33       51.0
34       42.0
Name: TicketCost, dtype: float64

In [43]:
df.TicketCost.min()

18.5

In [45]:
df.NameOfTariff[df.TicketCost == df.TicketCost.min()]

17    «Разовый» льготный
Name: NameOfTariff, dtype: object