In [1]:
import pandas as pd
import numpy as np

In [13]:
f = open('example.csv')

In [7]:
for i in f:
    print(i)
f.close()

a,b,c

1,2,3

4,5,6

7,8,9

In [12]:
for i in f:
    print(i.split(','))
f.close()

['a', 'b', 'c\n']
['1', '2', '3\n']
['4', '5', '6\n']
['7', '8', '9']

In [14]:
matrix = []
for i in f:
    matrix.append((i.split(',')))
f.close()

In [15]:
matrix

[['a', 'b', 'c\n'], ['1', '2', '3\n'], ['4', '5', '6\n'], ['7', '8', '9']]

In [16]:
df = pd.DataFrame(matrix)

In [17]:
df

   0  1    2
0  a  b  c\n
1  1  2  3\n
2  4  5  6\n
3  7  8    9

In [18]:
pd.read_csv('example.csv')

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
## Задание

# Скачайте набор данных в формате CSV. Набор данных содержит подробную информацию об общем 
# количестве проходов пассажиров на станции метрополитена через турникеты по входу и об общем количестве выходов, 
# осуществленных пассажирами со станций метрополитена.

# Источник данных: Портал открытых данных Правительства Москвы: Пассажиропоток по станциям Московского метрополитена


# Задание:

# 1) скачайте файл с данными 
# (файл скачан и перемещен в эту же папку с jupyter notebook - название - Пассажиропоток_МосМетро_2.csv)

# 2) определите разделитель и загрузите данные в датафрейм

# 3) определите название станции, на которой было наибольшее количество входов за 4 квартал 2021 года

# В ответе укажите название станции

In [24]:
df = pd.read_csv('Пассажиропоток_МосМетро_2.csv', sep = ';')

In [32]:
# если открывать из загрузок
df = pd.read_csv('C:/Users/roman/Downloads/Пассажиропоток_МосМетро_2.csv', sep = ';')

In [33]:
df

,NameOfStation,Line,Year,Quarter,IncomingPassengers,OutgoingPassengers,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,Unnamed: 13
0,Станция метрополитена,Линия,Год,Квартал,Входы пассажиров,Выходы пассажиров,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,NaN
1,Митино,Арбатско-Покровская линия,2021,I квартал,1913498,1829031,1138975996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Волоколамская,Арбатско-Покровская линия,2021,I квартал,1236714,1222309,1138975997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Строгино,Арбатско-Покровская линия,2021,I квартал,1938816,1903731,1138975999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Крылатское,Арбатско-Покровская линия,2021,I квартал,1849616,1818208,1138976000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368,Китай-город,Таганско-Краснопресненская линия,2022,I квартал,0,0,2363487484,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1369,Киевская,Филёвская линия,2022,I квартал,0,0,2363487549,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,Улица Милашенкова,Московская монорельсовая транспортная система,2021,IV квартал,17991,17295,2363643842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,Кунцевская,Филёвская линия,2022,I квартал,543507,529972,2363644363,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,Смоленская,Филёвская линия,2022,I квартал,726197,742423,2363644369,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
mask = df.IncomingPassengers[1:].astype('int64').max()

In [62]:
str(mask)

'7660212'

In [68]:
df.NameOfStation[1:][(df.IncomingPassengers[1:] == str(mask)) & (df.Quarter[1:] == 'IV квартал') & (df.Year[1:] == '2021')]

957    Комсомольская
Name: NameOfStation, dtype: object

In [ ]:
## Задание

In [ ]:
Скачайте набор данных в формате CSV. Набор данных содержит подробную информацию об общем 
количестве проходов пассажиров на станции метрополитена через турникеты по входу и об 
общем количестве выходов, осуществленных пассажирами со станций метрополитена.

Источник данных: Портал открытых данных Правительства Москвы: Пассажиропоток по станциям Московского метрополитена

В файл были внесены некоторые изменения для отработки навыков.

 

Задание:

1) скачайте файл с данными - файл скачен в директорию с jupyter notebook с названием 'Пассажиропоток_МосМетро_3.csv'

2) определите разделитель и загрузите данные в датафрейм. Возможно потребуется пропустить 
какие-то записи для того чтобы загрузка прошла успешно.

3) определите сколько всего было входов по всем станциям за всё время (сумма по столбцу IncomingPassengers)

В ответе укажите целое число без пробелов

In [126]:
df = pd.read_csv('C:/Users/roman/Downloads/Пассажиропоток_МосМетро_3.csv', sep = '|', skiprows = [0, 1, 2, 3, 5,6], na_values = ['\n'])

In [127]:
df

,NameOfStation,Line,Year,Quarter,IncomingPassengers,OutgoingPassengers,global_id,NameOfStation_en,Line_en,Year_en,Quarter_en,IncomingPassengers_en,OutgoingPassengers_en,Unnamed: 13
0,Митино,Арбатско-Покровская линия,2021.0,I квартал,1913498.0,1829031.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Волоколамская,Арбатско-Покровская линия,2021.0,I квартал,1236714.0,1222309.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Строгино,Арбатско-Покровская линия,2021.0,I квартал,1938816.0,1903731.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Крылатское,Арбатско-Покровская линия,2021.0,I квартал,1849616.0,1818208.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Площадь Революции,Арбатско-Покровская линия,2021.0,I квартал,2324687.0,2319343.0,1.138976e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369,Киевская,Филёвская линия,2022.0,I квартал,0.0,0.0,2.363488e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,Улица Милашенкова,Московская монорельсовая транспортная система,2021.0,IV квартал,17991.0,17295.0,2.363644e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,Кунцевская,Филёвская линия,2022.0,I квартал,543507.0,529972.0,2.363644e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,Смоленская,Филёвская линия,2022.0,I квартал,726197.0,742423.0,2.363644e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1373,#конец данных,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
~df.IncomingPassengers.isna()

0       True
1       True
2       True
3       True
4       True
        ...
1369    True
1370    True
1371    True
1372    True
1373    True
Name: IncomingPassengers, Length: 1374, dtype: bool

In [115]:
sum(~df.IncomingPassengers.isna())

1374

In [128]:
df.IncomingPassengers[(~df.IncomingPassengers.isnull()) & (~(df.IncomingPassengers == ''))]

0       1913498.0
1       1236714.0
2       1938816.0
3       1849616.0
4       2324687.0
          ...
1368          0.0
1369          0.0
1370      17991.0
1371     543507.0
1372     726197.0
Name: IncomingPassengers, Length: 1372, dtype: float64

In [130]:
sum(df.IncomingPassengers[(~df.IncomingPassengers.isnull()) & (~(df.IncomingPassengers == ''))])

2514195123.0

In [ ]:
# Задание

In [ ]:
Скачайте набор данных в формате CSV. Набор данных содержит подробную информацию об 
общем количестве проходов пассажиров на станции метрополитена через турникеты по входу 
и об общем количестве выходов, осуществленных пассажирами со станций метрополитена.

Источник данных: Портал открытых данных Правительства Москвы: Пассажиропоток по станциям Московского метрополитена

В файл были внесены некоторые изменения для отработки навыков.

Задание:

1) скачайте файл с данными (это новый файл и он отличается от файла с предыдущего степа)
(Файл скачан и Находится здесь же под названием 'Пассажиропоток_МосМетро_4.csv')

В столбце IncomingPassengers присутствуют пропущенные значения: 0, NULL, None, не указано

2) определите разделитель и загрузите данные в датафрейм. На этапе загрузки сконвертируйте 0, NULL, None, не указано в NaN

В столбце OutgoingPassengers нули не должны сконвертироваться в NaN!

3) С помощью функции pd.isnull определите количество записей, у которых пропущено значение в столбце IncomingPassengers

В ответе укажите число строк в которых пропущено значение в столбце IncomingPassengers

In [78]:
a = pd.read_csv('Пассажиропоток_МосМетро_4.csv', sep = '|', na_values = {'IncomingPassengers': [0, 'NULL', None, 'не указано', '']})

In [ ]:
# С помощью функции pd.isnull определите количество записей, у которых пропущено значение в столбце IncomingPassengers

In [79]:
a.IncomingPassengers.head(5)

0    Входы пассажиров
1             1913498
2             1236714
3             1938816
4             1849616
Name: IncomingPassengers, dtype: object

In [80]:
a.IncomingPassengers.isnull().sum()

37

In [ ]:
# Задание

Вы оказались в аналитическом отделе некоторой социальной сети, которая 
объединяет людей занимающихся благотворительностью. Для вас подготовили выгрузку пользователей в формате csv. 
Загрузите файл в датафрейм и оставьте только пользователей женского пола. Сохраните датафрейм в формате 
csv без индекса и в кодировке utf8. Оставьте только две колонки: username и mail Разделитель значений: точка с запятой. 
Порядок записей не меняйте. Ответ загрузите на степик. 

Скачать выгрузку. Файл скачан в корень здесь с именем: 'users.csv'

In [86]:
df = pd.read_csv('users.csv', sep = ';')

In [88]:
df[df.sex == 'F'].to_csv('users_f.csv', sep = ';', index = False, encoding = 'utf-8', columns = ['username', 'mail'])

In [89]:
df2 = pd.read_csv('users_f.csv', sep = ';')

In [90]:
df2

        username                        mail
0    lambertemma            vsmith@yahoo.com
1          greid     graceholloway@yahoo.com
2      kristin75           stacy77@yahoo.com
3           ecox      kimrosario@hotmail.com
4       markhall  edwardswilliam@hotmail.com
..           ...                         ...
100   moorekelly      lauragardner@yahoo.com
101  vazquezjohn     scottnicholas@gmail.com
102     justin25           ewalker@yahoo.com
103     robert89          lsimmons@gmail.com
104       todd08    hilladrienne@hotmail.com

[105 rows x 2 columns]

In [ ]:
# Задание

Прочитайте первые 50 записей выгрузки и определите количество мужчин.
файл скачан в корень здесь название: 'users(1).csv'

In [92]:
df = pd.read_csv('users(1).csv', sep = ';', nrows = 50)

In [99]:
df[df.sex == 'M'].count()

job                 27
company             27
ssn                 27
residence           27
current_location    27
blood_group         27
website             27
username            27
name                27
sex                 27
address             27
mail                27
birthdate           27
dtype: int64

In [ ]:
# Задание
Определите в какой кодировке сохранена выгрузка.

Скачать выгрузку. Скачано и сохранено в файле: 'Пассажиропоток_МосМетро++.csv'

In [102]:
df = open('Пассажиропоток_МосМетро++.csv', 'r')

In [104]:
df

In [ ]:
Задание

Скачайте выгрузку (скачано и сохранено в файле 'users(2).csv') и организуйте её чтение чанками. 
Размер каждого чанка установите в 30 строк. 
Для пятого чанка с данными определите сколько пользователей с группой крови A+

Группа крови хранится в столбце blood_group

In [28]:
reader = pd.read_csv('users(2).csv', sep = ';', chunksize = 30)

In [29]:
reader

In [18]:
next(reader)

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Records manager,Duncan-Garcia,241-62-8803,"309 Danielle Cliffs\nNorth Amy, NC 69960","(Decimal('-79.694044'), Decimal('145.837904'))",AB+,"['http://www.lara-atkins.info/', 'https://vela...",lambertemma,Stacy Reed,F,"9881 Brown Mission\nWest Marcus, CO 88576",vsmith@yahoo.com,1980-01-04
1,Mental health nurse,Rose-Lee,899-12-4937,Unit 5929 Box 0845\nDPO AE 45149,"(Decimal('16.6696785'), Decimal('-38.243842'))",A-,"['http://jackson-sanchez.net/', 'https://www.g...",greid,Carol Farley,F,USNS Burke\nFPO AE 09663,graceholloway@yahoo.com,1918-07-08
2,Furniture conservator/restorer,Potts and Sons,261-41-9484,"130 Vargas Trail Apt. 244\nNorth Rebecca, WV 1...","(Decimal('-27.9623815'), Decimal('75.091620'))",B-,"['https://www.mclaughlin.com/', 'http://www.gi...",scottmercado,Russell Whitaker,M,"9023 Julie Highway\nJonathanfurt, NE 70139",ghart@gmail.com,1946-09-11

In [26]:
for i in reader:
    print(i.blood_group[i.blood_group == 'A+'].count())
    input('***')

4
***2
5
***3
3
***4
3
***5
4

KeyboardInterrupt: Interrupted by user

In [30]:
chunk = 1
for i in reader:
    print(i.blood_group[i.blood_group == 'A+'].count())
    print('chunk == ', chunk)
    chunk +=1

4
chunk ==  1
5
chunk ==  2
3
chunk ==  3
3
chunk ==  4
4
chunk ==  5
4
chunk ==  6
4
chunk ==  7

In [ ]:
Данные загруженные из интернета. Небольшая практика с csv.
Latest Earthquakes
from https://earthquake.usgs.gov/earthquakes/map/?extent=-63.23363,-17.92969&extent=84.9901,342.07031&timeZone=utc

Файл здесь называется: query.csv

In [20]:
df = pd.read_csv('query.csv')

In [21]:
df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-02-16T03:04:48.169Z,55.8999,113.5555,10,4.1,mb,24.0,51,3.813,0.81,...,2023-04-22T21:33:26.040Z,"28 km SSE of Severomuysk, Russia",earthquake,5.84,1.899,0.185,8,reviewed,us,us
1,2023-01-25T03:57:50.755Z,56.1588,114.1836,10,4.0,mb,26.0,51,3.628,0.33,...,2023-04-11T18:51:30.040Z,"Buryatiya, Russia",earthquake,7.02,1.910,0.183,8,reviewed,us,us
2,2022-11-19T06:57:59.002Z,56.4336,113.2773,10,4.3,mb,29.0,109,7.400,0.65,...,2023-01-30T06:00:07.040Z,"33 km NNW of Severomuysk, Russia",earthquake,10.84,1.924,0.119,20,reviewed,us,us
3,2022-09-19T06:07:54.187Z,56.7109,117.4617,10,4.4,mb,72.0,46,3.972,0.73,...,2022-11-26T20:57:41.040Z,"52 km WSW of Novaya Chara, Russia",earthquake,7.81,1.869,0.066,66,reviewed,us,us
4,2022-09-03T04:36:20.356Z,56.7505,117.4842,10,4.7,mb,70.0,43,3.950,0.96,...,2022-11-15T19:06:01.040Z,"50 km W of Novaya Chara, Russia",earthquake,6.86,1.847,0.033,276,reviewed,us,us
5,2022-08-21T02:56:03.942Z,54.9405,110.7440,10,4.7,mb,68.0,30,4.816,0.94,...,2022-11-01T15:12:38.040Z,"74 km NNE of Kurumkan, Russia",earthquake,7.17,1.793,0.037,228,reviewed,us,us
6,2022-06-11T05:46:33.656Z,56.1485,113.4500,10,4.3,mb,29.0,83,7.316,0.48,...,2022-08-21T00:15:51.040Z,"1 km E of Severomuysk, Russia",earthquake,6.30,1.900,0.129,17,reviewed,us,us
7,2022-05-28T19:02:48.992Z,54.9680,125.3545,10,4.0,mb,45.0,45,6.669,0.64,...,2022-08-06T22:13:02.040Z,"45 km ESE of Tynda, Russia",earthquake,5.20,1.900,0.113,21,reviewed,us,us
8,2022-05-12T22:59:34.779Z,57.1961,122.1788,10,4.2,mb,43.0,62,6.162,0.57,...,2022-07-22T18:31:00.040Z,"Southwestern Sakha, Russia",earthquake,6.40,1.800,0.112,22,reviewed,us,us
9,2022-04-14T03:33:47.594Z,56.3817,112.6278,10,4.8,mb,NaN,34,7.080,0.52,...,2022-06-20T22:08:11.040Z,"55 km WNW of Severomuysk, Russia",earthquake,8.10,1.800,0.035,250,reviewed,us,us

# Формат JSON

In [36]:
# Задание

# Скачайте набор данных в формате JSON. Файл скачан в корень здесь название: 'data-399-2022-07-01.json'

# Набор данных позволяет получить информацию о видах билетов и тарифах на проезд в метрополитене и монорельсе, 
# наземном пассажирском транспорте и пригородном железнодорожном транспорте города Москвы.

# Источник данных: Портал открытых данных Правительства Москвы: Тарифы на проезд в городском пассажирском транспорте

# Скачайте файл JSON. Загрузите данные в датафрейм и определите самый дешевый тариф. 
# Стоимость указана в столбце TicketCost, а наименование тарифа NameOfTariff

# В поле ответа вставьте значение из столбца NameOfTariff

In [38]:
data = open('data-399-2022-07-01.json') # когда проблема с кодировкой надо открыть так и посмотреть кодировку

In [39]:
data

In [40]:
df = pd.read_json('data-399-2022-07-01.json', encoding='cp1251') # и здесь эту кодировку прописать

In [41]:
df

,ID,NameOfTariff,TicketZone,global_id,NumberOfZone,TariffDistance,TypeOfTransport,NameOfCarrier,TicketCost,TicketValidity
0,200,«Единый» не более 2 поездок,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368709,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,114.0,"5 дней, включая день продажи"
1,700,«Единый» не более 60 поездок,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368716,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,1970.0,"45 дней, включая день продажи"
2,800,«Единый» на 1 сутки,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368718,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,230.0,"1 сутки с момента первого прохода, начало испо..."
3,1100,«Единый» на 30 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368722,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,2170.0,"30 дней, включая день продажи"
4,1200,«Единый» на 90 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368723,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,5430.0,"90 дней, включая день продажи"
5,1300,«Единый» на 365 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368725,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,19500.0,"365 дней, включая день продажи"
6,2900,«ТАТ» на 30 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368749,-,-,"Автобус, троллейбус, трамвай","[{'NameOfCarrier': 'ГУП «Мосгортранс»'}, {'Nam...",1180.0,"30 дней, включая день продажи"
7,4000,«А» на 30 дней,[{'TicketZone': 'Зона Б (за исключением ЗелАО)...,19368765,-,-,Автобус,"[{'NameOfCarrier': 'ГУП «Мосгортранс»'}, {'Nam...",1180.0,"30 дней, включая день продажи"
8,4400,"«Единый» билет на 1 календарный месяц ТАТ, ММ,...","[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368771,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,2900.0,календарный месяц
9,4600,«Льготный» для учащихся и студентов 1 месяц,[{'TicketZone': 'Зона А'}],19368773,-,-,"Метрополитен, монорельс, МЦК",[{'NameOfCarrier': 'ГУП «Московский метрополит...,405.0,календарный месяц
10,4700,«Льготный» для учащихся и студентов на наземно...,[{'TicketZone': 'Зона А'}],19368775,-,-,"Автобус, троллейбус, трамвай",[{'NameOfCarrier': 'ГУП «Мосгортранс»'}],265.0,календарный месяц
11,4900,Провоз не более 1 места багажа,"[{'TicketZone': 'Зона А, Зона Б'}]",19368778,-,-,"Метрополитен, монорельс, МЦК",[{'NameOfCarrier': 'ГУП «Московский метрополит...,60.0,"5 дней, включая день продажи"
12,5100,«Кошелек» метро/монорельс/МЦК/МЦД,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'МЦК...",19368781,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Центр...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,40.0,с момента изготовления на срок действия носителя
13,5200,«Кошелек» - ТАТ,"[{'TicketZone': 'Зона А, внутри ЗелАО'}]",19368782,-,-,"Автобус, троллейбус, трамвай",[{'NameOfCarrier': 'ГУП «Московский метрополит...,38.0,с момента изготовления на срок действия носителя
14,5300,Банковская карта с транспортным приложением 1 ...,[{'TicketZone': 'Зона А'}],19368783,-,-,"Метрополитен, монорельс, МЦК",[{'NameOfCarrier': 'ГУП «Московский метрополит...,40.0,с момента изготовления на срок действия банков...
15,5400,"Банковская карта с транспортным приложением, 1...",[{'TicketZone': 'Зона А'}],19368785,-,-,"Автобус, троллейбус, трамвай",[{'NameOfCarrier': 'ГУП «Мосгортранс»'}],40.0,с момента изготовления на срок действия банков...
16,7200,«Разовый билет» за 1 зону,[{'TicketZone': 'в пределах железнодорожных ст...,19368810,-,-,"Пригородный электропоезд МТППК, ЦППК",[{'NameOfCarrier': 'АО «Центральная пригородна...,24.0,"указанная дата, но не более, чем 10 дней от да..."
17,7300,«Разовый» льготный,[{'TicketZone': 'в пределах железнодорожных ст...,19368812,-,-,"Пригородный электропоезд ЦППК, МТППК",[{'NameOfCarrier': 'АО «Центральная пригородна...,18.5,"указанная дата, но не более, чем 10 дней от да..."
18,5000,«Кошелек» - «90 минут»,"[{'TicketZone': 'Зона А, внутри ЗелАО'}]",19568047,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,62.0,с момента изготовления на срок действия носителя
19,100,«Единый» не более 1 поездки с возможностью реа...,[{'TicketZone': 'Зона А'}],19616851,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,57.0,"5 дней, включая день продажи"
20,900,«Единый» на 3 суток,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",62863084,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,438.0,"3 суток с момента первого прохода, начало испо..."
21,4200,«Льготный» для учащихся и студентов 3 месяца,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'МЦК...",861748611,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Центр...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,1215.0,3 календарных месяца
22,4300,«Льготный» для учащихся и студентов на наземно...,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",861748635,-,-,"Автобус, троллейбус, трамвай","[{'NameOfCarrier': 'ГУП «Мосгортранс»'}, {'Nam...",795.0,3 календарных месяца
23,7400,«Кошелек» метро/монорельс/МЦК/МЦД,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029842378,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Пригород",[{'NameOfCarrier': 'ГУП «Московский метрополит...,47.0,с момента изготовления на срок действия носителя
24,7800,«Единый» на 30 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846583,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,2570.0,"30 дней, включая день продажи"
25,8000,«Единый» на 90 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846584,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,6940.0,"90 дней, включая день продажи"
26,8100,«Единый» на 365 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846586,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,24450.0,"365 дней, включая день продажи"
27,8200,Банковская карта с технологией бесконтактной о...,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846594,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Пригород",[{'NameOfCarrier': 'ГУП «Московский метрополит...,51.0,день продажи
28,8300,Банковская карта с технологией бесконтактной о...,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846596,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,44.0,с момента изготовления на срок действия банков...
29,8400,«ТАТ» на 90 дней,[{'TicketZone': '-'}],1272597595,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': 'ГУП «Мосгортранс»'}],3720.0,"90 дней, включая день продажи"
30,8500,Аутентификация на основании изображения на уст...,[{'TicketZone': '-'}],2372704815,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Пригород",[{'NameOfCarrier': '-'}],56.0,-
31,8600,«ТАТ» на 90 дней,[{'TicketZone': '-'}],2372709325,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': '-'}],3720.0,"90 дней, включая день продажи"
32,8700,«ТАТ» на 365 дней,[{'TicketZone': '-'}],2372709708,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': '-'}],14000.0,"365 дней, включая день продажи"
33,8800,Банковская карта с технологией бесконтактной о...,[{'TicketZone': '-'}],2372709713,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': '-'}],51.0,с момента изготовления на срок действия банков...
34,8900,Билет для поездок в пределах перечня железнодо...,[{'TicketZone': '-'}],2372709817,-,-,"Пригородный электропоезд ЦППК, МТППК",[{'NameOfCarrier': '-'}],42.0,"указанная дата, но не более, чем 10 дней от да..."

In [42]:
df.TicketCost

0       114.0
1      1970.0
2       230.0
3      2170.0
4      5430.0
5     19500.0
6      1180.0
7      1180.0
8      2900.0
9       405.0
10      265.0
11       60.0
12       40.0
13       38.0
14       40.0
15       40.0
16       24.0
17       18.5
18       62.0
19       57.0
20      438.0
21     1215.0
22      795.0
23       47.0
24     2570.0
25     6940.0
26    24450.0
27       51.0
28       44.0
29     3720.0
30       56.0
31     3720.0
32    14000.0
33       51.0
34       42.0
Name: TicketCost, dtype: float64

In [43]:
df.TicketCost.min()

18.5

In [45]:
df.NameOfTariff[df.TicketCost == df.TicketCost.min()]

17    «Разовый» льготный
Name: NameOfTariff, dtype: object

In [12]:
t = open('data-399-2022-07-01.json')

In [13]:
t

In [15]:
f = pd.read_json('data-399-2022-07-01.json', encoding='cp1251')

In [16]:
f

,ID,NameOfTariff,TicketZone,global_id,NumberOfZone,TariffDistance,TypeOfTransport,NameOfCarrier,TicketCost,TicketValidity
0,200,«Единый» не более 2 поездок,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368709,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,114.0,"5 дней, включая день продажи"
1,700,«Единый» не более 60 поездок,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368716,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,1970.0,"45 дней, включая день продажи"
2,800,«Единый» на 1 сутки,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368718,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,230.0,"1 сутки с момента первого прохода, начало испо..."
3,1100,«Единый» на 30 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368722,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,2170.0,"30 дней, включая день продажи"
4,1200,«Единый» на 90 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368723,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,5430.0,"90 дней, включая день продажи"
5,1300,«Единый» на 365 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368725,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,19500.0,"365 дней, включая день продажи"
6,2900,«ТАТ» на 30 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368749,-,-,"Автобус, троллейбус, трамвай","[{'NameOfCarrier': 'ГУП «Мосгортранс»'}, {'Nam...",1180.0,"30 дней, включая день продажи"
7,4000,«А» на 30 дней,[{'TicketZone': 'Зона Б (за исключением ЗелАО)...,19368765,-,-,Автобус,"[{'NameOfCarrier': 'ГУП «Мосгортранс»'}, {'Nam...",1180.0,"30 дней, включая день продажи"
8,4400,"«Единый» билет на 1 календарный месяц ТАТ, ММ,...","[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",19368771,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,2900.0,календарный месяц
9,4600,«Льготный» для учащихся и студентов 1 месяц,[{'TicketZone': 'Зона А'}],19368773,-,-,"Метрополитен, монорельс, МЦК",[{'NameOfCarrier': 'ГУП «Московский метрополит...,405.0,календарный месяц
10,4700,«Льготный» для учащихся и студентов на наземно...,[{'TicketZone': 'Зона А'}],19368775,-,-,"Автобус, троллейбус, трамвай",[{'NameOfCarrier': 'ГУП «Мосгортранс»'}],265.0,календарный месяц
11,4900,Провоз не более 1 места багажа,"[{'TicketZone': 'Зона А, Зона Б'}]",19368778,-,-,"Метрополитен, монорельс, МЦК",[{'NameOfCarrier': 'ГУП «Московский метрополит...,60.0,"5 дней, включая день продажи"
12,5100,«Кошелек» метро/монорельс/МЦК/МЦД,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'МЦК...",19368781,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Центр...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,40.0,с момента изготовления на срок действия носителя
13,5200,«Кошелек» - ТАТ,"[{'TicketZone': 'Зона А, внутри ЗелАО'}]",19368782,-,-,"Автобус, троллейбус, трамвай",[{'NameOfCarrier': 'ГУП «Московский метрополит...,38.0,с момента изготовления на срок действия носителя
14,5300,Банковская карта с транспортным приложением 1 ...,[{'TicketZone': 'Зона А'}],19368783,-,-,"Метрополитен, монорельс, МЦК",[{'NameOfCarrier': 'ГУП «Московский метрополит...,40.0,с момента изготовления на срок действия банков...
15,5400,"Банковская карта с транспортным приложением, 1...",[{'TicketZone': 'Зона А'}],19368785,-,-,"Автобус, троллейбус, трамвай",[{'NameOfCarrier': 'ГУП «Мосгортранс»'}],40.0,с момента изготовления на срок действия банков...
16,7200,«Разовый билет» за 1 зону,[{'TicketZone': 'в пределах железнодорожных ст...,19368810,-,-,"Пригородный электропоезд МТППК, ЦППК",[{'NameOfCarrier': 'АО «Центральная пригородна...,24.0,"указанная дата, но не более, чем 10 дней от да..."
17,7300,«Разовый» льготный,[{'TicketZone': 'в пределах железнодорожных ст...,19368812,-,-,"Пригородный электропоезд ЦППК, МТППК",[{'NameOfCarrier': 'АО «Центральная пригородна...,18.5,"указанная дата, но не более, чем 10 дней от да..."
18,5000,«Кошелек» - «90 минут»,"[{'TicketZone': 'Зона А, внутри ЗелАО'}]",19568047,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,62.0,с момента изготовления на срок действия носителя
19,100,«Единый» не более 1 поездки с возможностью реа...,[{'TicketZone': 'Зона А'}],19616851,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,57.0,"5 дней, включая день продажи"
20,900,«Единый» на 3 суток,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",62863084,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,438.0,"3 суток с момента первого прохода, начало испо..."
21,4200,«Льготный» для учащихся и студентов 3 месяца,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'МЦК...",861748611,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Центр...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,1215.0,3 календарных месяца
22,4300,«Льготный» для учащихся и студентов на наземно...,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",861748635,-,-,"Автобус, троллейбус, трамвай","[{'NameOfCarrier': 'ГУП «Мосгортранс»'}, {'Nam...",795.0,3 календарных месяца
23,7400,«Кошелек» метро/монорельс/МЦК/МЦД,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029842378,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Пригород",[{'NameOfCarrier': 'ГУП «Московский метрополит...,47.0,с момента изготовления на срок действия носителя
24,7800,«Единый» на 30 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846583,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,2570.0,"30 дней, включая день продажи"
25,8000,«Единый» на 90 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846584,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,6940.0,"90 дней, включая день продажи"
26,8100,«Единый» на 365 дней,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846586,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,24450.0,"365 дней, включая день продажи"
27,8200,Банковская карта с технологией бесконтактной о...,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846594,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Пригород",[{'NameOfCarrier': 'ГУП «Московский метрополит...,51.0,день продажи
28,8300,Банковская карта с технологией бесконтактной о...,"[{'TicketZone': 'Зона А'}, {'TicketZone': 'Зон...",1029846596,-,-,"Метрополитен, монорельс, автобус, троллейбус, ...",[{'NameOfCarrier': 'ГУП «Московский метрополит...,44.0,с момента изготовления на срок действия банков...
29,8400,«ТАТ» на 90 дней,[{'TicketZone': '-'}],1272597595,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': 'ГУП «Мосгортранс»'}],3720.0,"90 дней, включая день продажи"
30,8500,Аутентификация на основании изображения на уст...,[{'TicketZone': '-'}],2372704815,-,-,"Метрополитен, монорельс, МЦК, МЦД в зоне Пригород",[{'NameOfCarrier': '-'}],56.0,-
31,8600,«ТАТ» на 90 дней,[{'TicketZone': '-'}],2372709325,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': '-'}],3720.0,"90 дней, включая день продажи"
32,8700,«ТАТ» на 365 дней,[{'TicketZone': '-'}],2372709708,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': '-'}],14000.0,"365 дней, включая день продажи"
33,8800,Банковская карта с технологией бесконтактной о...,[{'TicketZone': '-'}],2372709713,-,-,"Автобус, электробус, трамвай",[{'NameOfCarrier': '-'}],51.0,с момента изготовления на срок действия банков...
34,8900,Билет для поездок в пределах перечня железнодо...,[{'TicketZone': '-'}],2372709817,-,-,"Пригородный электропоезд ЦППК, МТППК",[{'NameOfCarrier': '-'}],42.0,"указанная дата, но не более, чем 10 дней от да..."

In [19]:
f.NameOfTariff[f.TicketCost == f.TicketCost.min()]

17    «Разовый» льготный
Name: NameOfTariff, dtype: object

In [ ]:
Задание

Возвращаемся к выгрузке про пользователей из социальной сети. 
Снова загрузите ее в датафрейм, оставьте только столбцы username, name, sex и сохраните в формате 
json (кодировка utf8). Сохранение выполните таким образом чтобы ключами были названия колонок, 
а значениями вложенные словари, которые будут хранить лейбл строки и само значение. Здесь название: 'users+.csv'

In [24]:
f = open('users+.csv')

In [25]:
f

In [30]:
df = pd.read_csv('users+.csv', sep = ';', encoding='cp1251')

In [31]:
df = df.reindex(['username', 'name', 'sex'], axis = 1)

In [32]:
df

             username              name sex
0         lambertemma        Stacy Reed   F
1               greid      Carol Farley   F
2        scottmercado  Russell Whitaker   M
3           kristin75    Maureen Powers   F
4             lhansen   Edward Mcdonald   M
..                ...               ...  ..
195  johnsongwendolyn   Matthew Simpson   M
196      elijahlittle     Joshua Landry   M
197          robert89  Kimberly Cameron   F
198            todd08    Suzanne Garner   F
199      joshuaforbes       Jesus Clark   M

[200 rows x 3 columns]

In [33]:
df.to_json('users++.json')

# Работа с HTML

In [ ]:
Загрузили страницу с сайта http://www.gsras.ru/cgi-bin/new/mapCustom.pl?l=0&lat=56.17&lon=112.56&num=500&rad=300
    
Название здесь: 'mapCustom+.html'

In [ ]:
Устанавливаем доп.библиотеки:

In [45]:
pip install lxml

Requirement already satisfied: lxml in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (4.9.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [42]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from html5lib) (1.16.0)

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [43]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4) (2.3.2.post1)

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
import lxml

In [2]:
_lst = pd.read_html('mapCustom+.html')

In [3]:
len(_lst)

6

In [6]:
_lst[2]

,N,Время [GMT],Шир. гр,Долг. гр,Глуб. км,Станции,Ms,mb,I0,Регион
0,1,2023-03-16 06:43:33,56.30,114.06,10,24,-,4.2,3-4,"Восточнее озера Байкал, Россия"
1,2,2023-02-16 03:04:49,55.87,113.46,10,18,-,4.0,3,"Восточнее озера Байкал, Россия"
2,3,2023-01-25 03:57:52,56.14,113.74,10,23,-,4.3,3.5-4,"Восточнее озера Байкал, Россия"
3,4,2022-11-19 06:57:59,56.39,113.29,10,34,-,4.5,4,"Восточнее озера Байкал, Россия"
4,5,2022-11-01 23:04:26,54.68,110.82,10,12,-,3.9,2.5-3,"Район озера Байкал, Россия"
...,...,...,...,...,...,...,...,...,...,...
446,447,1995-11-13 08:43:15,56.14,114.83,33,0,6.2,-,7,"Восточнее озера Байкал, Россия"
447,448,1995-06-23 18:14:22,56.00,112.00,33,0,4.4,-,3-4,"Район озера Байкал, Россия"
448,449,1991-11-28 11:17:22,55.13,110.56,33,0,4.6,-,4-5,"Район озера Байкал, Россия"
449,450,1991-09-12 00:33:32,55.30,110.98,33,0,5.1,-,5-5.5,"Район озера Байкал, Россия"
450,451,1991-08-23 21:15:03,55.80,114.90,33,0,5.0,-,5-5.5,"Восточнее озера Байкал, Россия"

In [7]:
df = _lst[2]

In [9]:
_lst = pd.read_html('http://www.gsras.ru/cgi-bin/new/mapCustom.pl?l=0&lat=56.17&lon=113.56&num=500&rad=100') 

print(f'Возвращает {type(_lst)} длиной {len(_lst)}')

Возвращает <class 'list'> длиной 6

In [10]:
_lst[2]

,N,Время [GMT],Шир. гр,Долг. гр,Глуб. км,Станции,Ms,mb,I0,Регион
0,1,2023-03-16 06:43:33,56.30,114.06,10,24,-,4.2,3-4,"Восточнее озера Байкал, Россия"
1,2,2023-02-16 03:04:49,55.87,113.46,10,18,-,4.0,3,"Восточнее озера Байкал, Россия"
2,3,2023-01-25 03:57:52,56.14,113.74,10,23,-,4.3,3.5-4,"Восточнее озера Байкал, Россия"
3,4,2022-11-19 06:57:59,56.39,113.29,10,34,-,4.5,4,"Восточнее озера Байкал, Россия"
4,5,2022-08-29 14:05:11,56.25,112.83,5,6,-,3.4,4,"Район озера Байкал, Россия"
...,...,...,...,...,...,...,...,...,...,...
154,155,1999-03-14 06:53:11,56.50,114.40,33,1,2.7,-,NaN,"Восточнее озера Байкал, Россия"
155,156,1999-02-10 13:15:02,55.61,112.67,33,7,4.1,-,3.5-4,"Район озера Байкал, Россия"
156,157,1998-07-11 22:58:00,56.30,112.70,33,1,3.3,-,2.5-3,"Район озера Байкал, Россия"
157,158,1998-07-11 08:42:41,56.27,112.71,33,1,3.5,-,2.5-3,"Район озера Байкал, Россия"
158,159,1996-05-20 22:24:59,56.30,113.10,33,0,3.7,-,4,"Восточнее озера Байкал, Россия"

In [11]:
df = _lst[2]

In [14]:
df.sort_values(by = 'Время [GMT]')

,N,Время [GMT],Шир. гр,Долг. гр,Глуб. км,Станции,Ms,mb,I0,Регион
158,159,1996-05-20 22:24:59,56.30,113.10,33,0,3.7,-,4,"Восточнее озера Байкал, Россия"
157,158,1998-07-11 08:42:41,56.27,112.71,33,1,3.5,-,2.5-3,"Район озера Байкал, Россия"
156,157,1998-07-11 22:58:00,56.30,112.70,33,1,3.3,-,2.5-3,"Район озера Байкал, Россия"
155,156,1999-02-10 13:15:02,55.61,112.67,33,7,4.1,-,3.5-4,"Район озера Байкал, Россия"
154,155,1999-03-14 06:53:11,56.50,114.40,33,1,2.7,-,NaN,"Восточнее озера Байкал, Россия"
...,...,...,...,...,...,...,...,...,...,...
4,5,2022-08-29 14:05:11,56.25,112.83,5,6,-,3.4,4,"Район озера Байкал, Россия"
3,4,2022-11-19 06:57:59,56.39,113.29,10,34,-,4.5,4,"Восточнее озера Байкал, Россия"
2,3,2023-01-25 03:57:52,56.14,113.74,10,23,-,4.3,3.5-4,"Восточнее озера Байкал, Россия"
1,2,2023-02-16 03:04:49,55.87,113.46,10,18,-,4.0,3,"Восточнее озера Байкал, Россия"
0,1,2023-03-16 06:43:33,56.30,114.06,10,24,-,4.2,3-4,"Восточнее озера Байкал, Россия"

In [22]:
df.loc[df['Ms'] == '-', 'Ms'] = np.nan

In [27]:
df['Ms'] = df['Ms'].astype('float64')

In [28]:
df['Ms'].dtype

dtype('float64')

In [29]:
df[df['Ms'] > 4]

,N,Время [GMT],Шир. гр,Долг. гр,Глуб. км,Станции,Ms,mb,I0,Регион
55,56,2016-11-22 11:37:10,55.94,114.12,10,35,4.6,4.9,5,"Восточнее озера Байкал, Россия"
120,121,2014-05-23 19:42:26,56.12,113.96,10,39,5.1,5.7,7-7.5,"Восточнее озера Байкал, Россия"
130,131,2010-12-08 10:42:06,56.25,113.30,15,17,4.1,4.9,5,"Восточнее озера Байкал, Россия"
145,146,2003-03-19 19:39:37,55.69,112.78,25,9,4.1,3.7,4-4.5,"Район озера Байкал, Россия"
147,148,2002-10-04 17:59:05,55.87,114.43,10,9,4.5,-,6-6.5,"Восточнее озера Байкал, Россия"
155,156,1999-02-10 13:15:02,55.61,112.67,33,7,4.1,-,3.5-4,"Район озера Байкал, Россия"

# форматы XML, PICKLE, HDF5

https://stepik.org/lesson/755303/step/8?unit=757293

In [87]:
# conda uninstall pytables
!pip install tables

Requirement already satisfied: tables in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (3.8.0)
Requirement already satisfied: cython>=0.29.21 in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from tables) (0.29.34)
Requirement already satisfied: py-cpuinfo in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from tables) (9.0.0)
Requirement already satisfied: numexpr>=2.6.2 in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from tables) (2.8.4)
Requirement already satisfied: packaging in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from tables) (22.0)
Requirement already satisfied: blosc2~=2.0.0 in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from tables) (2.0.0)
Requirement already satisfied: numpy>=1.19.0 in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from tables) (1.23.5)
Requirement already satisfied: msgpack in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from blosc2~=2.0.0->tables) (1.0.5)

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
# Examle hdf5

df = pd.DataFrame([[1, 1.0, 'a']], columns=['x', 'y', 'z'])  
df.to_hdf('D:\Magic\Git\!Pandas\store.h5', 'data')  
reread = pd.read_hdf('store.h5')

In [7]:
df

   x    y  z
0  1  1.0  a

In [14]:
reread

   x    y  z
0  1  1.0  a

# Задание

данные лежат в формате HDF5
посчитать вместимость всех велосипедных стоянок в районе Тропарёво-Никулино
район записан в столбце District, а вместительность парковки в столбце Capacity

Посчитайте суммарную вместительность велосипедных парковок в районе Тропарёво-Никулино.

Источник данных: Портал открытых данных Правительства Москвы - Велосипедные парковки

Скачать файл H5

Файл скачен. Название здесь: 'data_store2.h5'

In [5]:
store = pd.HDFStore('data_store2.h5')

In [6]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: data_store2.h5

In [7]:
store.keys()

['/mydataframe', '/parking_table', '/ser_district_value_counts']

In [8]:
df = store.parking_table

In [13]:
df.Capacity[df.District == 'район Тропарёво-Никулино'].sum()

26

In [ ]:
#Решаем повторно заново:

In [19]:
pd.HDFStore('data_store2.h5')

<class 'pandas.io.pytables.HDFStore'>
File path: data_store2.h5

In [20]:
store = pd.HDFStore('data_store2.h5')

In [24]:
store.keys() # вытягивает ключи под которыми что-то сохранено в HDF5

['/parking_table', '/ser_district_value_counts']

In [50]:
df = store.select('parking_table')

In [61]:
# задаем формат table и можем обращаться к элементам прямо в store
df2 = df.to_hdf('D:\Magic\Git\!Pandas\data_store2.h5', 'mydataframe', format = 'table')

In [63]:
df2

In [67]:
store = pd.HDFStore('data_store2.h5')

In [68]:
store.keys()

['/mydataframe', '/parking_table', '/ser_district_value_counts']

In [73]:
store['mydataframe'][['Capacity', 'District']][store['mydataframe'].District == 'район Тропарёво-Никулино']

      Capacity                  District
ID
174         10  район Тропарёво-Никулино
1388         8  район Тропарёво-Никулино
1427         8  район Тропарёво-Никулино

In [75]:
store['mydataframe'][['Capacity']][store['mydataframe'].District == 'район Тропарёво-Никулино'].sum()

Capacity    26
dtype: int64

# Задание

Скачайте выгрузку "Общий прирост постоянного населения" в формате html

Источник данных: Росстат -  Общий прирост постоянного населения
    
Файл здесь: 'Общий_прирост_постоянного_населения.html' 

Загрузите данные в датафрейм и определите суммарный общий прирост постоянного населения за 
период с 2014 по 2020 (включительно) для субъекта Камчатский край

Т.е. мы ходим понять, что произошло с приростом за этот период: был ли он 
положительным или отрицательным и в каком количестве.

In [89]:
_lst = pd.read_html('Общий_прирост_постоянного_населения.html')

In [90]:
df = pd.DataFrame(_lst[0])

In [91]:
df

,Unnamed: 0,Unnamed: 1,23110000100100200001 Общий прирост постоянного населения,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.3,23110000100100200001 Общий прирост постоянного населения.4,23110000100100200001 Общий прирост постоянного населения.5,23110000100100200001 Общий прирост постоянного населения.6,23110000100100200001 Общий прирост постоянного населения.7,23110000100100200001 Общий прирост постоянного населения.8,23110000100100200001 Общий прирост постоянного населения.9,23110000100100200001 Общий прирост постоянного населения.10,23110000100100200001 Общий прирост постоянного населения.11,23110000100100200001 Общий прирост постоянного населения.12,23110000100100200001 Общий прирост постоянного населения.13,23110000100100200001 Общий прирост постоянного населения.14,23110000100100200001 Общий прирост постоянного населения.15
0,NaN,NaN,За период,За период,За период,За период,За период,За период,За период,За период,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог
1,NaN,NaN,январь 2022 г.,2014 г.,2015 г.,2016 г.,2017 г.,2018 г.,2019 г.,2020 г.,январь 2022 г.,2014 г.,2015 г.,2016 г.,2017 г.,2018 г.,2019 г.,2020 г.
2,все население,w2:p_mest:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Российская Федерация,643,NaN,305469,277422,259662,76060,-99712,-32130,-577575,-613439,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Центральный федеральный округ,030,NaN,131605,152840,105263,101831,66646,55497,-182596,-146560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Магаданская область,44000000000,NaN,-2241,-1726,-775,-1479,-2857,-1085,-1115,-1267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Сахалинская область,64000000000,NaN,-2636,-1098,51,2837,-543,-1381,-2636,-1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Еврейская автономная область,99000000000,NaN,-2009,-2248,-1903,-2203,-2101,-1608,-1805,-2669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Чукотский автономный округ,77000000000,NaN,-15,-383,-335,-474,315,625,-761,513,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Крымский федеральный округ,039,NaN,0,28481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.index[df['Unnamed: 0'] == 'Камчатский край']

Int64Index([94], dtype='int64')

In [47]:
df.loc[[0]]

,Unnamed: 0,Unnamed: 1,23110000100100200001 Общий прирост постоянного населения,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.3,23110000100100200001 Общий прирост постоянного населения.4,23110000100100200001 Общий прирост постоянного населения.5,23110000100100200001 Общий прирост постоянного населения.6,23110000100100200001 Общий прирост постоянного населения.7,23110000100100200001 Общий прирост постоянного населения.8,23110000100100200001 Общий прирост постоянного населения.9,23110000100100200001 Общий прирост постоянного населения.10,23110000100100200001 Общий прирост постоянного населения.11,23110000100100200001 Общий прирост постоянного населения.12,23110000100100200001 Общий прирост постоянного населения.13,23110000100100200001 Общий прирост постоянного населения.14,23110000100100200001 Общий прирост постоянного населения.15
0,NaN,NaN,За период,За период,За период,За период,За период,За период,За период,За период,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог

In [49]:
df.loc[[0]] == 'За период'

,Unnamed: 0,Unnamed: 1,23110000100100200001 Общий прирост постоянного населения,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.3,23110000100100200001 Общий прирост постоянного населения.4,23110000100100200001 Общий прирост постоянного населения.5,23110000100100200001 Общий прирост постоянного населения.6,23110000100100200001 Общий прирост постоянного населения.7,23110000100100200001 Общий прирост постоянного населения.8,23110000100100200001 Общий прирост постоянного населения.9,23110000100100200001 Общий прирост постоянного населения.10,23110000100100200001 Общий прирост постоянного населения.11,23110000100100200001 Общий прирост постоянного населения.12,23110000100100200001 Общий прирост постоянного населения.13,23110000100100200001 Общий прирост постоянного населения.14,23110000100100200001 Общий прирост постоянного населения.15
0,False,False,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False

In [54]:
df.loc[[0]][df.loc[[0]] == 'За период']

,Unnamed: 0,Unnamed: 1,23110000100100200001 Общий прирост постоянного населения,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.3,23110000100100200001 Общий прирост постоянного населения.4,23110000100100200001 Общий прирост постоянного населения.5,23110000100100200001 Общий прирост постоянного населения.6,23110000100100200001 Общий прирост постоянного населения.7,23110000100100200001 Общий прирост постоянного населения.8,23110000100100200001 Общий прирост постоянного населения.9,23110000100100200001 Общий прирост постоянного населения.10,23110000100100200001 Общий прирост постоянного населения.11,23110000100100200001 Общий прирост постоянного населения.12,23110000100100200001 Общий прирост постоянного населения.13,23110000100100200001 Общий прирост постоянного населения.14,23110000100100200001 Общий прирост постоянного населения.15
0,NaN,NaN,За период,За период,За период,За период,За период,За период,За период,За период,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df.loc[[1]]

,Unnamed: 0,Unnamed: 1,23110000100100200001 Общий прирост постоянного населения,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.3,23110000100100200001 Общий прирост постоянного населения.4,23110000100100200001 Общий прирост постоянного населения.5,23110000100100200001 Общий прирост постоянного населения.6,23110000100100200001 Общий прирост постоянного населения.7,23110000100100200001 Общий прирост постоянного населения.8,23110000100100200001 Общий прирост постоянного населения.9,23110000100100200001 Общий прирост постоянного населения.10,23110000100100200001 Общий прирост постоянного населения.11,23110000100100200001 Общий прирост постоянного населения.12,23110000100100200001 Общий прирост постоянного населения.13,23110000100100200001 Общий прирост постоянного населения.14,23110000100100200001 Общий прирост постоянного населения.15
1,NaN,NaN,январь 2022 г.,2014 г.,2015 г.,2016 г.,2017 г.,2018 г.,2019 г.,2020 г.,январь 2022 г.,2014 г.,2015 г.,2016 г.,2017 г.,2018 г.,2019 г.,2020 г.

In [37]:
df.iloc[[0, 1, 94],[3,4,9]]

,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.7
0,За период,За период,За период
1,2014 г.,2015 г.,2020 г.
94,-2595,-1153,-1349

In [61]:
df.loc[[0,1,94]][(df.loc[[0]] == 'За период') & (df.loc[[1]] == '2014 г.')]

,Unnamed: 0,Unnamed: 1,23110000100100200001 Общий прирост постоянного населения,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.3,23110000100100200001 Общий прирост постоянного населения.4,23110000100100200001 Общий прирост постоянного населения.5,23110000100100200001 Общий прирост постоянного населения.6,23110000100100200001 Общий прирост постоянного населения.7,23110000100100200001 Общий прирост постоянного населения.8,23110000100100200001 Общий прирост постоянного населения.9,23110000100100200001 Общий прирост постоянного населения.10,23110000100100200001 Общий прирост постоянного населения.11,23110000100100200001 Общий прирост постоянного населения.12,23110000100100200001 Общий прирост постоянного населения.13,23110000100100200001 Общий прирост постоянного населения.14,23110000100100200001 Общий прирост постоянного населения.15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df.columns = df.columns.str.lstrip('23110000100100200001 Общий прирост постоянного населения')

In [93]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', '', '.1', '.2', '.3', '.4', '.5', '.6',
       '.7', '.8', '.9', '.10', '.11', '.12', '.13', '.14', '.15'],
      dtype='object')

In [94]:
df = df.drop(['Unnamed: 1','.8', '.9', '.10', '.11', '.12', '.13', '.14', '.15'], axis=1)

In [99]:
df = df.drop([''], axis=1)

In [106]:
df.loc[94]

Unnamed: 0    Камчатский край
.1                      -2595
.2                      -1153
.3                      -1387
.4                        828
.5                       -834
.6                      -1707
.7                      -1349
Name: 94, dtype: object

In [109]:
df.loc[94][1:].astype('int64')

.1   -2595
.2   -1153
.3   -1387
.4     828
.5    -834
.6   -1707
.7   -1349
Name: 94, dtype: int64

In [110]:
df.loc[94][1:].astype('int64').sum()

-8197

In [ ]:
# ПОВТОРНОЕ РЕШЕНИЕ ЗАДАЧИ ВЫШЕ:

In [82]:
_lst = pd.read_html('Общий_прирост_постоянного_населения.html')

In [83]:
len(_lst)

1

In [88]:
_lst[0]

,Unnamed: 0,Unnamed: 1,23110000100100200001 Общий прирост постоянного населения,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.3,23110000100100200001 Общий прирост постоянного населения.4,23110000100100200001 Общий прирост постоянного населения.5,23110000100100200001 Общий прирост постоянного населения.6,23110000100100200001 Общий прирост постоянного населения.7,23110000100100200001 Общий прирост постоянного населения.8,23110000100100200001 Общий прирост постоянного населения.9,23110000100100200001 Общий прирост постоянного населения.10,23110000100100200001 Общий прирост постоянного населения.11,23110000100100200001 Общий прирост постоянного населения.12,23110000100100200001 Общий прирост постоянного населения.13,23110000100100200001 Общий прирост постоянного населения.14,23110000100100200001 Общий прирост постоянного населения.15
0,NaN,NaN,За период,За период,За период,За период,За период,За период,За период,За период,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог
1,NaN,NaN,январь 2022 г.,2014 г.,2015 г.,2016 г.,2017 г.,2018 г.,2019 г.,2020 г.,январь 2022 г.,2014 г.,2015 г.,2016 г.,2017 г.,2018 г.,2019 г.,2020 г.
2,все население,w2:p_mest:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Российская Федерация,643,NaN,305469,277422,259662,76060,-99712,-32130,-577575,-613439,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Центральный федеральный округ,030,NaN,131605,152840,105263,101831,66646,55497,-182596,-146560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Магаданская область,44000000000,NaN,-2241,-1726,-775,-1479,-2857,-1085,-1115,-1267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Сахалинская область,64000000000,NaN,-2636,-1098,51,2837,-543,-1381,-2636,-1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Еврейская автономная область,99000000000,NaN,-2009,-2248,-1903,-2203,-2101,-1608,-1805,-2669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Чукотский автономный округ,77000000000,NaN,-15,-383,-335,-474,315,625,-761,513,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Крымский федеральный округ,039,NaN,0,28481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
df = pd.DataFrame(_lst[0])

In [119]:
df[(df['Unnamed: 0'] == 'Камчатский край') ]

,Unnamed: 0,Unnamed: 1,23110000100100200001 Общий прирост постоянного населения,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.3,23110000100100200001 Общий прирост постоянного населения.4,23110000100100200001 Общий прирост постоянного населения.5,23110000100100200001 Общий прирост постоянного населения.6,23110000100100200001 Общий прирост постоянного населения.7,23110000100100200001 Общий прирост постоянного населения.8,23110000100100200001 Общий прирост постоянного населения.9,23110000100100200001 Общий прирост постоянного населения.10,23110000100100200001 Общий прирост постоянного населения.11,23110000100100200001 Общий прирост постоянного населения.12,23110000100100200001 Общий прирост постоянного населения.13,23110000100100200001 Общий прирост постоянного населения.14,23110000100100200001 Общий прирост постоянного населения.15
94,Камчатский край,30000000000,NaN,-2595,-1153,-1387,828,-834,-1707,-1349,1037,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
df.iloc[[0,1,94], [1]]

     Unnamed: 1
0           NaN
1           NaN
94  30000000000

In [118]:
df.iloc[[0]][(df.iloc[[0]] == 'За период') & (df.iloc[[0]]]

,Unnamed: 0,Unnamed: 1,23110000100100200001 Общий прирост постоянного населения,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.3,23110000100100200001 Общий прирост постоянного населения.4,23110000100100200001 Общий прирост постоянного населения.5,23110000100100200001 Общий прирост постоянного населения.6,23110000100100200001 Общий прирост постоянного населения.7,23110000100100200001 Общий прирост постоянного населения.8,23110000100100200001 Общий прирост постоянного населения.9,23110000100100200001 Общий прирост постоянного населения.10,23110000100100200001 Общий прирост постоянного населения.11,23110000100100200001 Общий прирост постоянного населения.12,23110000100100200001 Общий прирост постоянного населения.13,23110000100100200001 Общий прирост постоянного населения.14,23110000100100200001 Общий прирост постоянного населения.15
0,NaN,NaN,За период,За период,За период,За период,За период,За период,За период,За период,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
df_t = df.T

In [125]:
df_t

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,102
Unnamed: 0,NaN,NaN,все население,Российская Федерация,Центральный федеральный округ,Белгородская область,Брянская область,Владимирская область,Воронежская область,Ивановская область,...,Республика Саха (Якутия),Камчатский край,Приморский край,Хабаровский край,Амурская область,Магаданская область,Сахалинская область,Еврейская автономная область,Чукотский автономный округ,Крымский федеральный округ
Unnamed: 1,NaN,NaN,w2:p_mest:11,643,030,14000000000,15000000000,17000000000,20000000000,24000000000,...,98000000000,30000000000,05000000000,08000000000,10000000000,44000000000,64000000000,99000000000,77000000000,039
23110000100100200001 Общий прирост постоянного населения,За период,январь 2022 г.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23110000100100200001 Общий прирост постоянного населения.1,За период,2014 г.,NaN,305469,131605,3828,-9659,-7708,2188,-6221,...,2093,-2595,-5208,-1607,-1401,-2241,-2636,-2009,-15,0
23110000100100200001 Общий прирост постоянного населения.2,За период,2015 г.,NaN,277422,152840,2201,-7199,-8445,2330,-7071,...,2793,-1153,-4300,-3753,-4184,-1726,-1098,-2248,-383,28481
23110000100100200001 Общий прирост постоянного населения.3,За период,2016 г.,NaN,259662,105263,2728,-5211,-7569,1931,-6668,...,3146,-1387,-5892,-1258,-3937,-775,51,-1903,-335,NaN
23110000100100200001 Общий прирост постоянного населения.4,За период,2017 г.,NaN,76060,101831,-2989,-9548,-11262,-1640,-8524,...,1495,828,-10079,-4992,-3328,-1479,2837,-2203,-474,NaN
23110000100100200001 Общий прирост постоянного населения.5,За период,2018 г.,NaN,-99712,66646,-2458,-10795,-12532,-5947,-10466,...,2679,-834,-10319,-6829,-5230,-2857,-543,-2101,315,NaN
23110000100100200001 Общий прирост постоянного населения.6,За период,2019 г.,NaN,-32130,55497,1733,-7696,-7389,-3616,-7045,...,4987,-1707,-6850,-5830,-3150,-1085,-1381,-1608,625,NaN
23110000100100200001 Общий прирост постоянного населения.7,За период,2020 г.,NaN,-577575,-182596,-7892,-9809,-16317,-18597,-10103,...,9975,-1349,-18024,-14516,-8198,-1115,-2636,-1805,-761,NaN
23110000100100200001 Общий прирост постоянного населения.8,Накопленный итог,январь 2022 г.,NaN,-613439,-146560,-9342,-13911,-18440,-17930,-10114,...,10144,1037,-14833,-2149,-9321,-1267,-1444,-2669,513,NaN
23110000100100200001 Общий прирост постоянного населения.9,Накопленный итог,2014 г.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23110000100100200001 Общий прирост постоянного населения.10,Накопленный итог,2015 г.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23110000100100200001 Общий прирост постоянного населения.11,Накопленный итог,2016 г.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23110000100100200001 Общий прирост постоянного населения.12,Накопленный итог,2017 г.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23110000100100200001 Общий прирост постоянного населения.13,Накопленный итог,2018 г.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23110000100100200001 Общий прирост постоянного населения.14,Накопленный итог,2019 г.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23110000100100200001 Общий прирост постоянного населения.15,Накопленный итог,2020 г.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
df_t[1]

Unnamed: 0                                                                NaN
Unnamed: 1                                                                NaN
23110000100100200001 Общий прирост постоянного населения       январь 2022 г.
23110000100100200001 Общий прирост постоянного населения.1            2014 г.
23110000100100200001 Общий прирост постоянного населения.2            2015 г.
23110000100100200001 Общий прирост постоянного населения.3            2016 г.
23110000100100200001 Общий прирост постоянного населения.4            2017 г.
23110000100100200001 Общий прирост постоянного населения.5            2018 г.
23110000100100200001 Общий прирост постоянного населения.6            2019 г.
23110000100100200001 Общий прирост постоянного населения.7            2020 г.
23110000100100200001 Общий прирост постоянного населения.8     январь 2022 г.
23110000100100200001 Общий прирост постоянного населения.9            2014 г.
23110000100100200001 Общий прирост постоянного населения.10           2015 г.
23110000100100200001 Общий прирост постоянного населения.11           2016 г.
23110000100100200001 Общий прирост постоянного населения.12           2017 г.
23110000100100200001 Общий прирост постоянного населения.13           2018 г.
23110000100100200001 Общий прирост постоянного населения.14           2019 г.
23110000100100200001 Общий прирост постоянного населения.15           2020 г.
Name: 1, dtype: object

In [138]:
df_t[94][(df_t[1] != 'январь 2022 г.') & (df_t[0] == 'За период')]

23110000100100200001 Общий прирост постоянного населения.1    -2595
23110000100100200001 Общий прирост постоянного населения.2    -1153
23110000100100200001 Общий прирост постоянного населения.3    -1387
23110000100100200001 Общий прирост постоянного населения.4      828
23110000100100200001 Общий прирост постоянного населения.5     -834
23110000100100200001 Общий прирост постоянного населения.6    -1707
23110000100100200001 Общий прирост постоянного населения.7    -1349
Name: 94, dtype: object

In [146]:
df_kamchatka = df_t[94][(df_t[1] != 'январь 2022 г.') & (df_t[0] == 'За период')]

In [147]:
df_kamchatka.index = [df_kamchatka.index.str.lstrip('23110000100100200001 Общий прирост постоянного населения')]

In [148]:
df_kamchatka

.1    -2595
.2    -1153
.3    -1387
.4      828
.5     -834
.6    -1707
.7    -1349
Name: 94, dtype: object

In [150]:
df_kamchatka.astype('int64')

.1   -2595
.2   -1153
.3   -1387
.4     828
.5    -834
.6   -1707
.7   -1349
Name: 94, dtype: int64

In [151]:
df_kamchatka.astype('int64').sum()

-8197

# ЗАДАЧА№

In [ ]:
# Скачайте выгрузку "Общий прирост постоянного населения" в формате html

Скачано: здесь в корне файл называется: '23110000100100200001_Общий_прирост_постоянного_населения.html'

# Источник данных: Росстат -  Общий прирост постоянного населения

# Загрузите данные в датафрейм и определите в какой из областей 
# произошел наибольший отрицательный прирост постоянного населения за 2020 год (сравниваем абсолютные значения)

In [170]:
_lst = pd.read_html('23110000100100200001_Общий_прирост_постоянного_населения.html')

In [171]:
len(_lst)

1

In [172]:
df = _lst[0]

In [173]:
df

,Unnamed: 0,Unnamed: 1,23110000100100200001 Общий прирост постоянного населения,23110000100100200001 Общий прирост постоянного населения.1,23110000100100200001 Общий прирост постоянного населения.2,23110000100100200001 Общий прирост постоянного населения.3,23110000100100200001 Общий прирост постоянного населения.4,23110000100100200001 Общий прирост постоянного населения.5,23110000100100200001 Общий прирост постоянного населения.6,23110000100100200001 Общий прирост постоянного населения.7,23110000100100200001 Общий прирост постоянного населения.8,23110000100100200001 Общий прирост постоянного населения.9,23110000100100200001 Общий прирост постоянного населения.10,23110000100100200001 Общий прирост постоянного населения.11,23110000100100200001 Общий прирост постоянного населения.12,23110000100100200001 Общий прирост постоянного населения.13,23110000100100200001 Общий прирост постоянного населения.14,23110000100100200001 Общий прирост постоянного населения.15
0,NaN,NaN,За период,За период,За период,За период,За период,За период,За период,За период,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог,Накопленный итог
1,NaN,NaN,январь 2022 г.,2014 г.,2015 г.,2016 г.,2017 г.,2018 г.,2019 г.,2020 г.,январь 2022 г.,2014 г.,2015 г.,2016 г.,2017 г.,2018 г.,2019 г.,2020 г.
2,все население,w2:p_mest:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Российская Федерация,643,NaN,305469,277422,259662,76060,-99712,-32130,-577575,-613439,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Центральный федеральный округ,030,NaN,131605,152840,105263,101831,66646,55497,-182596,-146560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Магаданская область,44000000000,NaN,-2241,-1726,-775,-1479,-2857,-1085,-1115,-1267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Сахалинская область,64000000000,NaN,-2636,-1098,51,2837,-543,-1381,-2636,-1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Еврейская автономная область,99000000000,NaN,-2009,-2248,-1903,-2203,-2101,-1608,-1805,-2669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Чукотский автономный округ,77000000000,NaN,-15,-383,-335,-474,315,625,-761,513,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Крымский федеральный округ,039,NaN,0,28481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
df[['Unnamed: 0', '23110000100100200001 Общий прирост постоянного населения.7']]

,Unnamed: 0,23110000100100200001 Общий прирост постоянного населения.7
0,NaN,За период
1,NaN,2020 г.
2,все население,NaN
3,Российская Федерация,-577575
4,Центральный федеральный округ,-182596
...,...,...
98,Магаданская область,-1115
99,Сахалинская область,-2636
100,Еврейская автономная область,-1805
101,Чукотский автономный округ,-761
102,Крымский федеральный округ,NaN

In [175]:
df = df[['Unnamed: 0','23110000100100200001 Общий прирост постоянного населения.7']][4:]

In [176]:
df

,Unnamed: 0,23110000100100200001 Общий прирост постоянного населения.7
4,Центральный федеральный округ,-182596
5,Белгородская область,-7892
6,Брянская область,-9809
7,Владимирская область,-16317
8,Воронежская область,-18597
...,...,...
98,Магаданская область,-1115
99,Сахалинская область,-2636
100,Еврейская автономная область,-1805
101,Чукотский автономный округ,-761
102,Крымский федеральный округ,NaN

In [188]:
mask = ~df['23110000100100200001 Общий прирост постоянного населения.7'].isnull()

In [189]:
mask

4       True
5       True
6       True
7       True
8       True
       ...
98      True
99      True
100     True
101     True
102    False
Name: 23110000100100200001 Общий прирост постоянного населения.7, Length: 99, dtype: bool

In [191]:
df2 = df[mask]

In [203]:
df2

,Unnamed: 0,23110000100100200001 Общий прирост постоянного населения.7
4,Центральный федеральный округ,-182596
5,Белгородская область,-7892
6,Брянская область,-9809
7,Владимирская область,-16317
8,Воронежская область,-18597
...,...,...
97,Амурская область,-8198
98,Магаданская область,-1115
99,Сахалинская область,-2636
100,Еврейская автономная область,-1805
101,Чукотский автономный округ,-761

In [204]:
df2['23110000100100200001 Общий прирост постоянного населения.7'].astype('int64')

4     -182596
5       -7892
6       -9809
7      -16317
8      -18597
        ...
97      -8198
98      -1115
99      -2636
100     -1805
101      -761
Name: 23110000100100200001 Общий прирост постоянного населения.7, Length: 95, dtype: int64

In [220]:
df2

,Unnamed: 0,23110000100100200001 Общий прирост постоянного населения.7
4,Центральный федеральный округ,-182596
5,Белгородская область,-7892
6,Брянская область,-9809
7,Владимирская область,-16317
8,Воронежская область,-18597
...,...,...
97,Амурская область,-8198
98,Магаданская область,-1115
99,Сахалинская область,-2636
100,Еврейская автономная область,-1805
101,Чукотский автономный округ,-761

In [234]:
df2['23110000100100200001 Общий прирост постоянного населения.7'].min()

-216856

In [236]:
df2.sort_values(by='23110000100100200001 Общий прирост постоянного населения.7')

,Unnamed: 0,23110000100100200001 Общий прирост постоянного населения.7
54,Приволжский федеральный округ,-216856
4,Центральный федеральный округ,-182596
78,Сибирский федеральный округ,-114460
90,Дальневосточный федеральный округ,-45150
23,Северо-Западный федеральный округ,-40033
...,...,...
52,Чеченская Республика,19266
72,Тюменская область,21517
47,Республика Дагестан,22445
46,Северо-Кавказский федеральный округ,36368
45,Город федерального значения Севастополь,60854

In [211]:
min_val = df2['23110000100100200001 Общий прирост постоянного населения.7'].astype('int64').min()

In [212]:
df2[df2['23110000100100200001 Общий прирост постоянного населения.7'].astype('int64') == min_val]

,Unnamed: 0,23110000100100200001 Общий прирост постоянного населения.7
54,Приволжский федеральный округ,-216856

In [ ]:
# минимум найден правильно, вот только опредеелить минимальное значение надо не для всех областей 
# в датафрейме, а только для вот этих:
# ['Свердловская область', 'Магаданская область','Сахалинская область', 
# 'Калужская область','Ярославская область', 'Кировская область' ]

In [239]:
list_question = ['Свердловская область', 'Магаданская область','Сахалинская область', 
'Калужская область','Ярославская область', 'Кировская область' ]

In [241]:
df2[df2['Unnamed: 0'] == 'Свердловская область']

,Unnamed: 0,23110000100100200001 Общий прирост постоянного населения.7
71,Свердловская область,-20614

In [259]:
dict = {}
for i in list_question:
    dict[i] = df2['23110000100100200001 Общий прирост постоянного населения.7'][df2['Unnamed: 0'] == i].astype('int64').min()

for k, w in sorted(dict.items(), key = lambda x: x[1], reverse = False):
    print(k,w)

Свердловская область -20614
Кировская область -12229
Ярославская область -11965
Сахалинская область -2636
Калужская область -1595
Магаданская область -1115

# Задача№

In [ ]:
для вас подготовили выгрузку пользователей в формате XML. 
Загрузите файл XML в датафрейм и посчитайте сколько 
пользователей женского пола с группой крови B+ в выгрузке. 


Скачать выгрузку. Файл загружен здесь под именем: 'users.xml'

In [260]:
df = pd.read_xml('users.xml')

In [261]:
df

,address,birthdate,blood_group,company,current_location,job,mail,name,residence,sex,ssn,username,website
0,"29948 Mason Summit\nRoblesshire, VA 63080",-620352000000,B-,Mills-Mitchell,NaN,"Investment banker, operational",joymcdonald@gmail.com,Erika Duncan,"697 Michael Land Apt. 950\nSouth Saraview, OK ...",F,880-74-0629,richardfisher,NaN
1,"65586 Beverly Camp Apt. 519\nToddshire, NY 32950",813456000000,B+,"Hampton, Torres and Parker",NaN,Press sub,ayalaaaron@gmail.com,Laurie Webb,"8090 Matthew Forest\nGarciaberg, TX 29182",F,052-01-0987,rlowe,NaN
2,Unit 5719 Box 7188\nDPO AA 69227,-1544140800000,B+,"Hicks, Lewis and Hernandez",NaN,Health and safety adviser,tsampson@yahoo.com,Jeffrey Miller,"29416 Richardson Lock Apt. 201\nWest Tinafort,...",M,836-81-8715,gerald45,NaN
3,"4201 Sydney Brooks\nPort Raymond, ND 10924",-1363219200000,AB+,Morse-Mccoy,NaN,Records manager,linda42@gmail.com,Jennifer Cummings,"71466 Marc Track\nLynnborough, WV 21340",F,677-21-9506,asuarez,NaN
4,"97225 Matthew Branch\nNew Caitlyn, IN 59591",-1033603200000,A+,Martin Inc,NaN,Chartered public finance accountant,nmay@yahoo.com,Nicholas Holmes,USS White\nFPO AE 16424,M,399-72-0313,pperry,NaN
5,"75979 Garcia Groves Suite 468\nPort Amyberg, H...",-677548800000,O+,Vaughn-Adams,NaN,Systems analyst,josephweber@gmail.com,Phillip Turner,"98327 Bell Spring Suite 814\nSouth Brianna, HI...",M,701-87-6161,rjohnson,NaN
6,"460 Dominique Path Suite 615\nTravisburgh, SD ...",-612057600000,O-,"Coleman, Brown and Obrien",NaN,Clinical research associate,marycampbell@gmail.com,Angela Washington,"8718 Kevin Loop\nBrownton, TX 21100",F,655-13-2054,glenn47,NaN
7,52009 Margaret Parks Suite 245\nLake Stephanie...,-1306886400000,AB+,Armstrong-Morales,NaN,Financial planner,lisa82@yahoo.com,Lisa Palmer,"7711 Alex Light\nNorth Amanda, WY 48534",F,856-66-4331,albert30,NaN
8,"51829 Warner Place\nJarvisstad, CT 78217",151372800000,A+,Robinson-Hall,NaN,Clothing/textile technologist,michael42@hotmail.com,Rachel Garcia,"3093 Kimberly Burgs Apt. 686\nFloresmouth, TX ...",F,745-29-5057,vanessa29,NaN
9,"22460 Townsend Knolls\nAliceside, MD 90237",268358400000,A-,Adams-Sanders,NaN,Farm manager,sandra38@gmail.com,Jasmine Stevenson,"576 Kayla Forest Apt. 132\nJohnshire, NM 20478",F,771-78-4418,anthony01,NaN
10,93977 Parker Avenue Apt. 625\nEast Williammout...,113011200000,AB+,"Reyes, Mayer and Gonzales",NaN,Trade union research officer,benjamin59@gmail.com,Richard Thomas,"309 Felicia Prairie\nWest Jacobhaven, NC 86869",M,089-24-9862,elliotttonya,NaN
11,"55234 Murray Forest\nKrystalland, AK 12525",-1521072000000,A-,Erickson Inc,NaN,"Scientist, physiological",jessetravis@yahoo.com,Debra Holland DDS,"PSC 3942, Box 0684\nAPO AP 00709",F,091-28-4952,melindalarsen,NaN
12,"90186 Austin Plains Apt. 551\nSarashire, DE 18781",1403049600000,B+,Garcia-Clark,NaN,"Radiographer, diagnostic",pollardgeorge@hotmail.com,Richard Richmond,"6166 Amy Branch\nSouth Kristinport, OK 77363",M,189-19-3431,ecastro,NaN
13,"5890 Allen Station\nNew Lisaborough, VT 56094",-1583625600000,A+,Miller-Salazar,NaN,"Education officer, environmental",julie65@gmail.com,Anna Brown,"PSC 8955, Box 2259\nAPO AP 19568",F,104-21-5024,banderson,NaN
14,"9674 Olson Pass\nPort David, RI 34294",-552268800000,AB+,Young-Smith,NaN,Veterinary surgeon,davilabrittany@yahoo.com,Kimberly Lewis,"3375 Donald Hollow\nWest Judith, WI 73627",F,192-41-8592,lopezstacey,NaN
15,"62345 Esparza Roads Apt. 637\nPort Karenville,...",-815788800000,AB+,Carr Inc,NaN,Customer service manager,bbrooks@yahoo.com,Joseph Tucker,"76130 Robinson Loop\nJerryberg, FL 08789",M,771-68-6395,sheppardkelly,NaN
16,"09442 Sean Track Apt. 443\nNorth Paulchester, ...",1651104000000,A+,Flores LLC,NaN,"Scientist, research (maths)",xwhite@yahoo.com,Gary Edwards,"9214 Paige View\nVasquezville, OH 93342",M,825-71-8736,jessicadouglas,NaN
17,"034 Michael Turnpike\nPerezside, AR 24210",-1083456000000,B+,Jones Ltd,NaN,Pension scheme manager,lowerysarah@yahoo.com,Christopher Dunlap,"1506 Carrie Creek\nMichellemouth, OR 95660",M,712-83-7147,gmartin,NaN
18,"53781 Henderson Stream\nDanielview, OK 69763",-539481600000,A+,Martinez-Berry,NaN,Medical sales representative,kimberly34@yahoo.com,Amanda Stewart,"1917 Daniel Plains Suite 532\nLake Cynthia, IN...",F,714-72-4832,steve27,NaN
19,Unit 1817 Box 5231\nDPO AE 89354,88041600000,O+,Jackson PLC,NaN,Dispensing optician,phamcaroline@hotmail.com,Jordan Scott,"0328 Christian Burgs\nArcherbury, AR 41376",F,764-84-1617,tinashaw,NaN
20,"7923 Hall Lane\nEast Albert, OK 23937",1519430400000,B-,"Garcia, Avila and Horn",NaN,Newspaper journalist,qwallace@gmail.com,Brian Terrell,"486 Collins Fork Suite 005\nNorth Regina, ME 5...",M,161-20-6969,barbaramartin,NaN
21,"PSC 1762, Box 6597\nAPO AE 36499",-1099008000000,A+,Fields-Wilson,NaN,Learning mentor,justinjimenez@yahoo.com,Margaret Norton,"821 Burns Port Apt. 116\nHoffmanfurt, NM 85305",F,850-22-7855,jthomas,NaN
22,"1039 Steven Junction\nLake Micheleburgh, UT 23835",1327795200000,B+,Jacobson-Huynh,NaN,"Accountant, chartered public finance",lmassey@gmail.com,Frances Mathews,"PSC 6693, Box 8802\nAPO AP 66512",F,332-09-7777,huffmanmichele,NaN
23,"4458 Contreras Bridge\nBenjaminberg, VA 31572",667785600000,O-,Johnson Inc,NaN,Computer games developer,atran@hotmail.com,Robert Owens,"PSC 6985, Box 1766\nAPO AE 11558",M,341-46-1227,jessicacooper,NaN
24,"0871 Lucas Branch\nBurketown, VT 42645",-1497916800000,B+,"Roberts, Hull and Sullivan",NaN,Aeronautical engineer,andrea38@gmail.com,Tammy Fitzgerald,"26720 Brandon Estate\nEast Robert, VT 83367",F,137-45-8312,mcgrathevan,NaN
25,"1471 Thomas Stream\nHallside, MN 60596",-621907200000,O-,Moses-Peters,NaN,Teaching laboratory technician,bergeduardo@hotmail.com,Barry Peters,"707 Castro Ports\nHamptonmouth, DC 69482",M,583-93-0020,nancy93,NaN
26,"779 Eugene Cape Suite 059\nArnoldberg, NC 93801",-199843200000,AB+,Delgado Group,NaN,Information systems manager,kjackson@yahoo.com,Cassie Palmer,"15825 Veronica Parks\nMartinchester, AR 36084",F,484-61-8925,sharon09,NaN
27,"3079 Pittman Views\nLake Brendaland, MO 50463",-1943049600000,O-,"Russo, Rogers and Ramirez",NaN,Technical sales engineer,benjaminbaldwin@hotmail.com,Jamie Caldwell,"PSC 9406, Box 1805\nAPO AP 53190",F,274-63-3765,elizabeth52,NaN
28,"3971 Melanie Inlet\nSouth Davidland, NY 46811",-1775088000000,AB-,Daniel-Bridges,NaN,Osteopath,mitchellfleming@gmail.com,Luis Nash,"162 Heidi Meadow\nSeanview, NC 03766",M,337-14-8516,reneeharding,NaN
29,Unit 8084 Box 9438\nDPO AA 51864,-1491955200000,A+,Reed-Harvey,NaN,Water engineer,richardcannon@yahoo.com,Christina Schmidt,"0061 Michelle Court Apt. 409\nBlackwellmouth, ...",F,123-91-1514,scott03,NaN
30,04865 Carter Fall Suite 326\nEast Stephenshire...,134265600000,B+,"Harris, Williams and Bailey",NaN,"Investment banker, corporate",hbaxter@gmail.com,Caroline Clark,"5998 Christina Ford\nPort Mathew, ND 84893",F,786-44-7416,johnmcdaniel,NaN
31,"90541 Young Mews Suite 145\nGordonborough, SD ...",435024000000,B-,"Ho, Hancock and Porter",NaN,Chief Operating Officer,stevengallagher@gmail.com,Carolyn Johnson,"29592 Martin Flat\nCampbellton, HI 67374",F,048-76-3820,lwilliams,NaN
32,"31419 Donald Harbor Apt. 137\nBartonfurt, CT 4...",-1772582400000,AB+,"Hernandez, Small and Williams",NaN,Conference centre manager,fergusonwilliam@hotmail.com,John Howard,"27430 Michael Rapid Suite 342\nSarahville, FL ...",M,276-59-8074,riggskenneth,NaN
33,"40139 Thomas Forks\nAliciabury, NM 97145",-1058486400000,O+,Robbins-Smith,NaN,"Physicist, medical",djohnson@yahoo.com,Katie Larson,USCGC Henry\nFPO AA 01309,F,088-38-7543,broberts,NaN
34,"187 Lambert Forks\nMeyersview, PA 87365",-603590400000,O-,"Mcdonald, Ray and Baker",NaN,Television floor manager,sararosales@gmail.com,Laura Kennedy,"145 Murillo Island\nHallview, MI 91745",F,695-52-9547,barnettanthony,NaN
35,USCGC Harrington\nFPO AE 03853,1335484800000,A-,"Kelly, Jackson and Williamson",NaN,Geophysical data processor,alexfernandez@yahoo.com,Lindsey Johnson,"72168 Cody Mill\nKimshire, NC 60282",F,134-16-6661,kayla96,NaN
36,"631 Rivera Locks\nMillerview, MA 86676",-1047081600000,AB+,"Martinez, Allen and Cummings",NaN,Mining engineer,millerbrandy@hotmail.com,Jason Byrd,"881 Larry Rapid\nNorth Johnstad, TX 35591",M,126-76-8781,gthornton,NaN
37,Unit 6800 Box 3094\nDPO AE 14893,-711849600000,B-,Harrington PLC,NaN,Medical laboratory scientific officer,rojasmichael@gmail.com,Kevin Robinson,"4287 Lane Square Apt. 963\nNew Vanessa, OK 27632",M,378-21-0177,jsmith,NaN
38,"6368 Rodney Estates\nWest Angelaport, NJ 70363",-764812800000,B+,"Mitchell, Park and Freeman",NaN,Multimedia specialist,jessehughes@yahoo.com,Christopher Johnson,"881 Norton Walk\nRussoborough, AL 13578",M,704-97-8067,jgraham,NaN
39,"PSC 3435, Box 0225\nAPO AP 85257",45014400000,O-,"Mcmillan, Baker and Vasquez",NaN,Applications developer,peggysmith@hotmail.com,Melissa Guerra,"360 Debra Fords Apt. 180\nSouth Jerryfurt, TX ...",F,686-22-7063,joshuanovak,NaN
40,"982 Jessica Tunnel\nNew Thomas, HI 56790",-1754784000000,AB-,Wolf Group,NaN,Engineering geologist,juliaperry@yahoo.com,Johnny Tucker,USNV Owens\nFPO AA 15863,M,715-48-0786,qjones,NaN
41,"93643 Mejia Heights Apt. 107\nJillshire, VT 13585",-782179200000,A+,"Walker, Estrada and Price",NaN,"Scientist, research (medical)",watsonkathryn@gmail.com,Angela Valenzuela,"2165 Robert Parkways\nSouth Crystal, DC 44541",F,825-02-0084,popecatherine,NaN
42,"29209 Riggs Union\nFeliciamouth, MT 57422",-1441152000000,O+,Johnson-Russell,NaN,Camera operator,zvaughan@yahoo.com,Jeffrey Anderson,"6099 Dana Flat Suite 964\nSouth Brandon, CO 03326",M,884-49-5758,antoniokirk,NaN
43,449 Mckinney Meadow Suite 291\nLake Julieville...,-1432339200000,O-,Young-Reid,NaN,"Presenter, broadcasting",thomas33@yahoo.com,Michael Johnson,"980 Ralph Mount\nGregoryborough, MI 18167",M,450-13-1018,johnsongregory,NaN
44,13330 Vincent Glen Suite 273\nEast Mariahborou...,634780800000,B+,"Williams, Reed and Estes",NaN,Garment/textile technologist,tgonzalez@hotmail.com,Jill Rivera,"35430 Shawn Ville Apt. 326\nSouth Melanie, KS ...",F,631-86-1792,mark43,NaN
45,"5842 Dennis Valley Suite 218\nSouth Johnton, O...",868060800000,AB+,Johnson and Sons,NaN,Youth worker,clairemorris@hotmail.com,Michelle Wolfe,"9235 Harris Walks\nNew Patrickchester, MI 99868",F,771-78-0598,tina47,NaN
46,"6640 Leon Ranch\nMyersberg, WY 96847",-1645228800000,B-,Kelly-Bennett,NaN,Claims inspector/assessor,flemingstephanie@gmail.com,Michael Joseph,"503 Mayo Hills Apt. 713\nPort Jessicafurt, LA ...",M,473-88-1735,lisa49,NaN
47,"5669 Schwartz Dale\nSouth Ronaldland, WY 05873",-979084800000,A+,Kelly Ltd,NaN,Comptroller,chadhester@hotmail.com,Austin Wells,"3382 Campbell Views Suite 221\nNorth Noahfurt,...",M,863-67-4132,tracey00,NaN
48,"38643 Victoria Harbors Suite 714\nAndrewsberg,...",-1977350400000,B-,"Snyder, Sharp and Garner",NaN,Technical author,xthomas@gmail.com,Cassandra Casey,"997 Monica Turnpike Suite 219\nNew Kevinhaven,...",F,014-16-9090,emayer,NaN
49,"6771 Jesse Forge Apt. 436\nSouth Kristen, OK 4...",1465257600000,B-,Ross-Alexander,NaN,"Engineer, control and instrumentation",ncrawford@yahoo.com,Emily Riley,Unit 9030 Box 9667\nDPO AP 55112,F,607-66-5912,hoffmanedward,NaN

In [266]:
df2 = df[(df['sex'] == 'F') & (df['blood_group'] == 'B+')]

In [267]:
df2

,address,birthdate,blood_group,company,current_location,job,mail,name,residence,sex,ssn,username,website
1,"65586 Beverly Camp Apt. 519\nToddshire, NY 32950",813456000000,B+,"Hampton, Torres and Parker",NaN,Press sub,ayalaaaron@gmail.com,Laurie Webb,"8090 Matthew Forest\nGarciaberg, TX 29182",F,052-01-0987,rlowe,NaN
22,"1039 Steven Junction\nLake Micheleburgh, UT 23835",1327795200000,B+,Jacobson-Huynh,NaN,"Accountant, chartered public finance",lmassey@gmail.com,Frances Mathews,"PSC 6693, Box 8802\nAPO AP 66512",F,332-09-7777,huffmanmichele,NaN
24,"0871 Lucas Branch\nBurketown, VT 42645",-1497916800000,B+,"Roberts, Hull and Sullivan",NaN,Aeronautical engineer,andrea38@gmail.com,Tammy Fitzgerald,"26720 Brandon Estate\nEast Robert, VT 83367",F,137-45-8312,mcgrathevan,NaN
30,04865 Carter Fall Suite 326\nEast Stephenshire...,134265600000,B+,"Harris, Williams and Bailey",NaN,"Investment banker, corporate",hbaxter@gmail.com,Caroline Clark,"5998 Christina Ford\nPort Mathew, ND 84893",F,786-44-7416,johnmcdaniel,NaN
44,13330 Vincent Glen Suite 273\nEast Mariahborou...,634780800000,B+,"Williams, Reed and Estes",NaN,Garment/textile technologist,tgonzalez@hotmail.com,Jill Rivera,"35430 Shawn Ville Apt. 326\nSouth Melanie, KS ...",F,631-86-1792,mark43,NaN

In [276]:
# number of rows in dataframe
num_rows = df2.count()[0]

In [277]:
num_rows

5