In [3]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel('EQ.xlsx') # читаем файл Excel (по умолчанию 1 лист !! или скрытый лист. Листы лучше всегда прописывать!)

In [38]:
df.head(5)

        дата время по Гринвичу  широта  долгота  Класс Unnamed: 5
0 2021-01-14        13:13:22.4   55.22   110.41   10.3        NaN
1 2021-01-15        17:29:55.4   55.22   110.43    9.3        NaN
2 2021-01-15        18:45:59.0   56.28   113.40   10.4        NaN
3 2021-01-15        22:29:47.3   54.88   111.72   11.0        NaN
4 2021-01-27        02:46:05.8   56.55   121.08    9.7        NaN

In [13]:
df2 = pd.read_excel('EQ.xlsx', sheet_name = 'Лист2') # читаем файл Excel (открываем другой лист)

In [37]:
df.head(5)

        дата время по Гринвичу  широта  долгота  Класс Unnamed: 5
0 2021-01-14        13:13:22.4   55.22   110.41   10.3        NaN
1 2021-01-15        17:29:55.4   55.22   110.43    9.3        NaN
2 2021-01-15        18:45:59.0   56.28   113.40   10.4        NaN
3 2021-01-15        22:29:47.3   54.88   111.72   11.0        NaN
4 2021-01-27        02:46:05.8   56.55   121.08    9.7        NaN

In [ ]:
# Если таблица начинается не с первой строки - необходимо добавлять header = 1,2,3...

In [19]:
# Пример открытия без header:

df3 = pd.read_excel('EQ.xlsx', sheet_name = 'Лист3') # заголовок идет в название столбца

In [39]:
df3.head(5)

,ЭТО ЗАГОЛОВОК ДЛЯ ВСЕЙ ТАБЛИЦЫ HEADER,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Дата и Время,Широта,Долгота,K,fm,"Интенсивность, баллы"
1,2023-01-18 22:02:24,52.94,106.95,9.8,,NaN
2,2023-01-20 04:01:51,56.12,113.74,9.6,,NaN
3,2023-01-20 13:08:59,51.06,99.97,11.2,,Иркутск 2б
4,2023-01-20 19:01:44,52.92,106.97,9.7,,NaN

In [21]:
# попробуем открыть с header = 1 (с какой строки начинается таблица)
df4 = pd.read_excel('EQ.xlsx', sheet_name = 'Лист3', header = 1)

In [40]:
df4.head(5)

         Дата и Время  Широта  Долгота     K  fm Интенсивность, баллы
0 2023-01-18 22:02:24   52.94   106.95   9.8                      NaN
1 2023-01-20 04:01:51   56.12   113.74   9.6                      NaN
2 2023-01-20 13:08:59   51.06    99.97  11.2               Иркутск 2б
3 2023-01-20 19:01:44   52.92   106.97   9.7                      NaN
4 2023-01-21 07:52:56   51.10    99.96  10.2                      NaN

# Если данных очень много в документе Excel

In [ ]:
# лучше применять такой подход если данных очень много (и они например продолжаются на листах)

In [23]:
file = pd.ExcelFile('D:\Magic\Git\!Pandas\EQ.xlsx')

In [24]:
df11 = pd.read_excel(file)

In [41]:
df11.head(5)

        дата время по Гринвичу  широта  долгота  Класс Unnamed: 5
0 2021-01-14        13:13:22.4   55.22   110.41   10.3        NaN
1 2021-01-15        17:29:55.4   55.22   110.43    9.3        NaN
2 2021-01-15        18:45:59.0   56.28   113.40   10.4        NaN
3 2021-01-15        22:29:47.3   54.88   111.72   11.0        NaN
4 2021-01-27        02:46:05.8   56.55   121.08    9.7        NaN

In [28]:
df22 = pd.read_excel(file, sheet_name = 2, header = 1)

In [42]:
df22.head(5)

         Дата и Время  Широта  Долгота     K  fm Интенсивность, баллы
0 2023-01-18 22:02:24   52.94   106.95   9.8                      NaN
1 2023-01-20 04:01:51   56.12   113.74   9.6                      NaN
2 2023-01-20 13:08:59   51.06    99.97  11.2               Иркутск 2б
3 2023-01-20 19:01:44   52.92   106.97   9.7                      NaN
4 2023-01-21 07:52:56   51.10    99.96  10.2                      NaN

# Сохранение DataFrame в Excel

In [32]:
df22.to_excel('D:\Magic\Git\!Pandas\df_to_excel.xlsx')

In [33]:
# убираем столбец с дефолтными индексами:
df22.to_excel('D:\Magic\Git\!Pandas\df_to_excel_2.xlsx', index = False)

In [35]:
# по дефолту название листа sheet_name = Sheet1, для того, чтобы кастомизировать:
df22.to_excel('D:\Magic\Git\!Pandas\df_to_excel_3.xlsx', index = False, sheet_name = 'Some_EQs')

In [45]:
# ЕСЛИ ЗАПИСЫВАТЬ В ОДИН ФАЙЛ ДАЖЕ ПОД РАЗНЫМИ ЛИСТАМИ - ПРОИСХОДИТ ПЕРЕЗАПИСЬ
writer = pd.ExcelWriter('D:\Magic\Git\!Pandas\df_to_excel_4.xlsx') # сохраняет объект writer (он не открывается Excel)

# а теперь через writer записываем листы:
df22.to_excel(writer, index = False, sheet_name = 'Some_EQs')
df11.to_excel(writer, index = False, sheet_name = 'Some_EQs_sheet_2')

# для сохранения НЕОБХОДИМО:
writer.save()

C:\Users\roman\AppData\Local\Temp\ipykernel_8204\3309918427.py:9: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

# DATA BASES

In [1]:
pip install sqlite

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite (from versions: none)
ERROR: No matching distribution found for sqlite

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import sqlite3

In [3]:
# создаем подключение к базе данных:

con = sqlite3.connect('D:\Magic\Git\!Pandas\db.sqlite3')

In [4]:
# обращаемся к объекту подключения и прописываем запрос

con.execute('select * from towns_town')

In [5]:
# присваеваем резултат переменной

cursor = con.execute('select * from towns_town')

In [6]:
cursor

In [7]:
# вытягиваем наши данные из объекта курсора <sqlite3.Cursor at 0x16ad20d32c0>

row = cursor.fetchall()

In [8]:
row

[(33,
  'London',
  'Второй по величине город Европы. Столица Соединённого Королевства Великобритании и Северной Ирландии. Административно образует регион Англии Большой Лондон, разделённый на 32 самоуправляемых района и Сити.',
  8173900),
 (34,
  'Birnengem',
  'Город является центром региона Уэст-Мидлендс и вторым по населению городом Англии.',
  1028700),
 (35,
  'Lids',
  'Третий по величине город Великобритании. Название «Лидс» применяется как по отношению к историческому центру города, так и к более широкому образованию, которое включает в себя небольшие города Отли и Уэзерби.',
  751485),
 (36,
  'Sheffild',
  'Один из восьми региональных центров, образующих группу основных городов Англии. Население агломерации 640 720 человек.',
  551800),
 (37,
  'Bristol',
  'Город на юго-западе Англии. Известен своим культурным наследием, доками и прекрасными парками. Население города около 467 099 человек.',
  467099),
 (38,
  'Manchester',
  'Город в Северо-Западной Англии. Известен своей культурной, спортивной и экономической значимостью. Население города около 547 627 человек.',
  547627),
 (39,
  'Newcastle',
  'Город на северо-востоке Англии. Известен своими историческими зданиями, культурой и кулинарными традициями. Население города около 300 196 человек.',
  300196),
 (40,
  'Nottingham',
  'Город в Восточной Англии. Известен своей архитектурой, культурными мероприятиями и богатой историей. Население города около 330 000 человек.',
  330000),
 (41,
  'Southampton',
  'Город на юге Англии, расположенный на берегу реки Итон. Известен своими историческими достопримечательностями, портом и круизными лайнерами. Население города около 253 651 человек.',
  253651)]

In [11]:
df = pd.DataFrame(row)

In [12]:
df

    0            1                                                  2        3
0  33       London  Второй по величине город Европы. Столица Соеди...  8173900
1  34    Birnengem  Город является центром региона Уэст-Мидлендс и...  1028700
2  35         Lids  Третий по величине город Великобритании. Назва...   751485
3  36     Sheffild  Один из восьми региональных центров, образующи...   551800
4  37      Bristol  Город на юго-западе Англии. Известен своим кул...   467099
5  38   Manchester  Город в Северо-Западной Англии. Известен своей...   547627
6  39    Newcastle  Город на северо-востоке Англии. Известен своим...   300196
7  40   Nottingham  Город в Восточной Англии. Известен своей архит...   330000
8  41  Southampton  Город на юге Англии, расположенный на берегу р...   253651

In [13]:
# вытягиваем названия колонок, для того, чтобы поименовать наши колонки в датафрейме
cursor.description

(('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('description', None, None, None, None, None, None),
 ('population', None, None, None, None, None, None))

In [14]:
# по каждому в cursor.description пробегаем и записываем их в колонки

df2 = pd.DataFrame(row, columns = [x[0] for x in cursor.description])

In [15]:
df2

,id,name,description,population
0,33,London,Второй по величине город Европы. Столица Соеди...,8173900
1,34,Birnengem,Город является центром региона Уэст-Мидлендс и...,1028700
2,35,Lids,Третий по величине город Великобритании. Назва...,751485
3,36,Sheffild,"Один из восьми региональных центров, образующи...",551800
4,37,Bristol,Город на юго-западе Англии. Известен своим кул...,467099
5,38,Manchester,Город в Северо-Западной Англии. Известен своей...,547627
6,39,Newcastle,Город на северо-востоке Англии. Известен своим...,300196
7,40,Nottingham,Город в Восточной Англии. Известен своей архит...,330000
8,41,Southampton,"Город на юге Англии, расположенный на берегу р...",253651

In [15]:
con.close()

# все манипуляции, проделанные выше выполняются проще с sqlalchemy

In [25]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (2.0.11)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\roman\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.5.0)

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import sqlalchemy as sql

In [63]:
con = sql.create_engine('sqlite:///D:/Magic/Git/!Pandas/db.sqlite3')

In [24]:
con

Engine(sqlite:///D:/Magic/Git/!Pandas/db.sqlite3)

In [30]:
# df33 = pd.read_sql('select * from towns_town', con)
# Этот путь создает ошибку AttributeError: 'OptionEngine' object has no attribute 'execute'

In [8]:
# Так получается и быстрее и без ошибки:

con = sqlite3.connect('D:/Magic/Git/!Pandas/db.sqlite3')
df = pd.read_sql("select * from towns_town", con)

In [9]:
df

,id,name,description,population
0,33,London,Второй по величине город Европы. Столица Соеди...,8173900
1,34,Birnengem,Город является центром региона Уэст-Мидлендс и...,1028700
2,35,Lids,Третий по величине город Великобритании. Назва...,751485
3,36,Sheffild,"Один из восьми региональных центров, образующи...",551800
4,37,Bristol,Город на юго-западе Англии. Известен своим кул...,467099
5,38,Manchester,Город в Северо-Западной Англии. Известен своей...,547627
6,39,Newcastle,Город на северо-востоке Англии. Известен своим...,300196
7,40,Nottingham,Город в Восточной Англии. Известен своей архит...,330000
8,41,Southampton,"Город на юге Англии, расположенный на берегу р...",253651

In [66]:
df = pd.read_sql("select name, population from towns_town desc", con)

In [34]:
df

          name  population
0       London     8173900
1    Birnengem     1028700
2         Lids      751485
3     Sheffild      551800
4      Bristol      467099
5   Manchester      547627
6    Newcastle      300196
7   Nottingham      330000
8  Southampton      253651

In [10]:
df = pd.read_sql("select name, population from towns_town desc limit 3", con)

In [67]:
df2 = pd.read_sql("select name, population from towns_town where population > 700000", con)

In [11]:
df

        name  population
0     London     8173900
1  Birnengem     1028700
2       Lids      751485

In [12]:
# сохраняем таблицу в базу данных: (и если OperationalError: database is locked когда сохраняешь - перезапуск Kernel)

df.to_sql('towns_top_three', con)

3

In [13]:
# В примере выше автоматом добавилась колонка index. Чтобы сохранить без нее:

df.to_sql('towns_top_three_without_index_column', con, index = False)

3

In [14]:
# повторно такая таблица не перезапишется автоматически, но при добавлении if_exists = 'replace' - перезапись:

df.to_sql('towns_top_three_without_index_column', con, index = False, if_exists = 'replace')

3

# ЗАДАЧИ

In [ ]:
# В базе данных sqlite3 создана таблица stations, которая содержит информацию о местоположении станций велопроката, 
# количестве мест на станции и слотов для парковки велосипедов. 

# Файл здесь: local_db.db

# Выполните действия:

# 1) Выгрузите имя станции (столбец Name),  количество мест на станции (столбец StationCapacity), адресный 
# ориентир (столбец Location). 

# 2) Выполните сортировку датафрейма по правилам:

# сначала идут станции с наибольшим количеством мест
# если у нескольких станций одинаковое количество мест, то отсортируйте их в алфавитном порядке
# 3) Сохраните датафрейм в формате csv: без индекса, разделитель точка с запятой, кодировка utf8

In [32]:
con = sqlite3.connect('D:/Magic/Git/!Pandas/local_db.db')
df = pd.read_sql("select * from stations", con)

In [33]:
df.head(2)

,ID,Name,StationCapacity,BikeParkingSlotsAmount,global_id,Longitude_WGS84,Latitude_WGS84,AdmArea,District,Location,...,AdmArea_en,District_en,Location_en,ClarificationOfLocation_en,DepartmentalAffiliation_en,OperOrgName_en,OperOrgWebsite_en,Photo_en,geodata_center,geoarea
0,2,Пункт проката велосипедов № 2,14,None,2757552,37.5997037,55.7468663,Центральный административный округ,район Хамовники,"Гоголевский б-р (напротив д.17, стр.1)",...,None,None,None,None,None,None,None,None,None,None
1,3,Пункт проката велосипедов № 3,12,None,2757553,37.6005927778,55.7509180556,Центральный административный округ,район Арбат,Гоголевский б-р (напротив д.33),...,None,None,None,None,None,None,None,None,None,None

In [61]:
df = pd.read_sql("select Name, StationCapacity, Location from stations order by StationCapacity", con)

In [62]:
# здесь order by идет от 10, а это говорит о том, что values в столбце StationCapacity типа str
df

,Name,StationCapacity,Location
0,Пункт проката велосипедов № 16,10,"ул. Мясницкая, д.10"
1,Пункт проката велосипедов № 49,10,"ул. Мясницкая, д.39, стр.1"
2,Пункт проката велосипедов № 77,10,"ул. Пятницкая, д.37"
3,Пункт проката велосипедов № 33,10,Столешников пер. (напротив д.11)
4,Пункт проката велосипедов № 296,10,"Мичуринский пр-т, д.38 (ст. м. Раменки)"
...,...,...,...
722,Пункт проката велосипедов № 695,9,"Бескудниковский б-р, д.57, к.1"
723,Пункт проката велосипедов № 697,9,"Бескудниковский б-р., д.13"
724,Пункт проката велосипедов № 886,9,"Чонгарский б-р, д.7"
725,Пункт проката велосипедов № 630,9,"ул. Симоновский Вал, д.13, к.2"
726,Пункт проката велосипедов № 906,9,ст. м. Текстильщики (выход № 1)

In [64]:
# а точнее Object:

df['StationCapacity'].dtype

dtype('O')

In [76]:
# поменяем это дело
df['StationCapacity'] = df['StationCapacity'].astype('int64').copy()

In [78]:
df['StationCapacity'].dtype

dtype('int64')

In [ ]:
# придется создать новую таблицу shorts

In [79]:
df.to_sql('shorts', con, index = False)

727

In [80]:
df = pd.read_sql("select * from shorts order by StationCapacity desc, Name", con)

In [81]:
df

,Name,StationCapacity,Location
0,Пункт проката велосипедов № 209,54,ст. м. Спортивная (выход №1)
1,Пункт проката велосипедов № 100,51,"Зубовский б-р, д.5, стр.1 (ст. м. Парк Культуры)"
2,Пункт проката велосипедов № 466,48,Продольный пр. (у главного входа ВДНХ)
3,Пункт проката велосипедов № 700,48,"пр-т Мира, д.119, стр.23 (у Москвариума)"
4,Пункт проката велосипедов № 102,45,"Зубовская пл., д.3, стр.1"
...,...,...,...
722,Пункт проката велосипедов № 17,8,"Чистопрудный б-р (напротив д.8, стр.1)"
723,Пункт проката велосипедов № 19,8,"Покровский б-р (напротив д.8, стр.1)"
724,Пункт проката велосипедов № 20,8,"Покровский б-р (напротив д.12, стр.1)"
725,Пункт проката велосипедов № 21,8,"Покровский б-р (напротив д.18, стр.18)"
726,Пункт проката велосипедов № 252,6,"ул. Льва Толстого, д.14А"

In [84]:
# Сохраните датафрейм в формате csv: без индекса, разделитель точка с запятой, кодировка utf8
df.to_csv('answer_to_the_task_1_sqlalchemy.csv', sep = ';', encoding = 'utf8', index = False)

In [ ]:
# Задача

# Выбрать ТОП-3 района по количеству зарядных станций. 
# Выгрузка в Excel - данные на двух листах. Скачать выгрузку.

# Выгрузка сохранена здесь с именем: 'Зарядные_станции_для_электромобилей.xlsx'

In [87]:
df0 = pd.read_excel('Зарядные_станции_для_электромобилей.xlsx', sheet_name = '0')
df1 = pd.read_excel('Зарядные_станции_для_электромобилей.xlsx', sheet_name = '1')

In [89]:
# или по-другому можно открывать так:

file = pd.ExcelFile('Зарядные_станции_для_электромобилей.xlsx')

In [108]:
df0 = pd.read_excel(file, header = 1, sheet_name = 0)
df1 = pd.read_excel(file, header = 1, sheet_name = 1)

In [113]:
df0.head(2)

,Код,Наименование,Административный округ,Район,Адрес,Долгота в WGS-84,Широта в WGS-84,global_id,ID_en,Name_en,AdmArea_en,District_en,Address_en,Longitude_WGS84_en,Latitude_WGS84_en,geodata_center,geoarea
0,25586,"ЭЗС Колпачный переулок дом 3, строение 2",Центральный административный округ,Басманный район,"город Москва, Колпачный переулок, дом 3, строе...",37.643166,55.758317,1036018683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25588,ЭЗС улица Макаренко дом 1/19,Центральный административный округ,Басманный район,"город Москва, улица Макаренко, дом 1/19",37.646220,55.761024,1036018684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
df1.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
# объединяем два датафрейма !
new_df = pd.concat([df0, df1])

In [116]:
new_df.head(5)

,Код,Наименование,Административный округ,Район,Адрес,Долгота в WGS-84,Широта в WGS-84,global_id,ID_en,Name_en,...,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,25586.0,"ЭЗС Колпачный переулок дом 3, строение 2",Центральный административный округ,Басманный район,"город Москва, Колпачный переулок, дом 3, строе...",37.643166,55.758317,1.036019e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25588.0,ЭЗС улица Макаренко дом 1/19,Центральный административный округ,Басманный район,"город Москва, улица Макаренко, дом 1/19",37.646220,55.761024,1.036019e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25593.0,ЭЗС Потаповский переулок дом 14,Центральный административный округ,Басманный район,"город Москва, Потаповский переулок, дом 14",37.641554,55.759464,1.036019e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28237.0,ЭЗС 1-й Кожуховский проезд дом 1/7,Южный административный округ,Даниловский район,"город Москва, 1-й Кожуховский проезд, дом 1/7",37.658572,55.704474,1.036019e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28239.0,"ЭЗС Докучаев переулок дом 3, строение 1",Центральный административный округ,Красносельский район,"город Москва, Докучаев переулок, дом 3, строен...",37.642291,55.774492,1.036019e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
new_df['Район'].describe()

count                   105
unique                   50
top       Пресненский район
freq                     10
Name: Район, dtype: object

In [123]:
new_df.groupby('Район')

In [132]:
new_df.groupby('Район', sort = True).count()

,Код,Наименование,Административный округ,Адрес,Долгота в WGS-84,Широта в WGS-84,global_id,ID_en,Name_en,AdmArea_en,...,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
Район,,,,,,,,,,,,,,,,,,,,,
Академический район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Бабушкинский район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Басманный район,6,6,6,6,6,6,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Войковский район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Головинский район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Даниловский район,3,3,3,3,3,3,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Донской район,3,3,3,3,3,3,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Красносельский район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ломоносовский район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Мещанский район,6,6,6,6,6,6,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Можайский район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Останкинский район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Пресненский район,10,10,10,10,10,10,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Савёловский район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Таганский район,5,5,5,5,5,5,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Тверской район,6,6,6,6,6,6,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Тимирязевский район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Хорошёвский район,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Арбат,2,2,2,2,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Аэропорт,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Беговой,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Выхино-Жулебино,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Дорогомилово,4,4,4,4,4,4,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Замоскворечье,5,5,5,5,5,5,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Западное Дегунино,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Ивановское,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Крылатское,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Кунцево,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Куркино,3,3,3,3,3,3,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Левобережный,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Лефортово,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Люблино,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Марьина Роща,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Марьино,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Митино,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Нагатино-Садовники,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Новокосино,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Перово,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Покровское-Стрешнево,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Северное Медведково,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Северное Тушино,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Сокол,2,2,2,2,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Тропарёво-Никулино,2,2,2,2,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Фили-Давыдково,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Хамовники,6,6,6,6,6,6,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Ховрино,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Щукино,2,2,2,2,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Южное Бутово,2,2,2,2,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Южное Тушино,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
район Якиманка,5,5,5,5,5,5,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [128]:
# А вот и ответ нашелся:

# df = df['Day'].value_counts().rename_axis('Day').reset_index(name='Amount')

# А в общем случае с groupBy будет что-то подобное:
# df = DataFrame({'count' : df1.groupby( ["Day", "Month", "Year"] ).size()}).reset_index()

df33 = new_df['Район'].value_counts()

In [129]:
df33

Пресненский район             10
Басманный район                6
Мещанский район                6
район Хамовники                6
Тверской район                 6
Таганский район                5
район Якиманка                 5
район Замоскворечье            5
район Дорогомилово             4
Даниловский район              3
район Куркино                  3
Донской район                  3
район Щукино                   2
район Тропарёво-Никулино       2
район Сокол                    2
район Арбат                    2
район Южное Бутово             2
район Лефортово                1
Тимирязевский район            1
район Крылатское               1
район Северное Тушино          1
Савёловский район              1
район Фили-Давыдково           1
район Митино                   1
район Южное Тушино             1
Останкинский район             1
Можайский район                1
район Левобережный             1
район Кунцево                  1
район Перово                   1
район Новокосино               1
Головинский район              1
район Покровское-Стрешнево     1
район Выхино-Жулебино          1
район Марьина Роща             1
Красносельский район           1
Хорошёвский район              1
Бабушкинский район             1
Войковский район               1
район Беговой                  1
район Нагатино-Садовники       1
район Марьино                  1
район Ховрино                  1
Академический район            1
район Люблино                  1
Ломоносовский район            1
район Западное Дегунино        1
район Ивановское               1
район Аэропорт                 1
район Северное Медведково      1
Name: Район, dtype: int64