# Домашнее задание по мультииндексам

In [1]:
import pandas as pd
import numpy as np

## Задание 1
### Постройте датафрейм заполненный нулями так, как это показано в ячейке ниже. Первые две колонки являются мультииндексом. Для заполнения датафрейма нулями воспользуйтесь функцией zeros из библиотеки numpy

                  0    1    2    3    4
Группа 1 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0
Группа 2 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0

In [202]:
task1_df = pd.DataFrame(np.zeros([4,5]), index=[['Группа 1', 'Группа 1', 'Группа 2', 'Группа 2'], ['Альфа', 'Бета' ,'Альфа','Бета']])

In [203]:
task1_df

                  0    1    2    3    4
Группа 1 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0
Группа 2 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0

In [73]:
task1_df.index

MultiIndex([('Группа 1', 'Альфа'),
            ('Группа 1',  'Бета'),
            ('Группа 2', 'Альфа'),
            ('Группа 2',  'Бета')],
           )

In [74]:
task1_df.to_csv('ДЗ_по_Мульти_индексам_task1.csv', sep=',')

In [75]:
pd.read_csv('ДЗ_по_Мульти_индексам_task1.csv')

  Unnamed: 0 Unnamed: 1    0    1    2    3    4
0   Группа 1      Альфа  0.0  0.0  0.0  0.0  0.0
1   Группа 1       Бета  0.0  0.0  0.0  0.0  0.0
2   Группа 2      Альфа  0.0  0.0  0.0  0.0  0.0
3   Группа 2       Бета  0.0  0.0  0.0  0.0  0.0

In [23]:
help(task1_df.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None, sep: 'str' = ',', na_rep: 'str' = '', float_format: 'str | Callable | None' = None, columns: 'Sequence[Hashable] | None' = None, header: 'bool_t | list[str]' = True, index: 'bool_t' = True, index_label: 'IndexLabel | None' = None, mode: 'str' = 'w', encoding: 'str | None' = None, compression: 'CompressionOptions' = 'infer', quoting: 'int | None' = None, quotechar: 'str' = '"', lineterminator: 'str | None' = None, chunksize: 'int | None' = None, date_format: 'str | None' = None, doublequote: 'bool_t' = True, escapechar: 'str | None' = None, decimal: 'str' = '.', errors: 'str' = 'strict', storage_options: 'StorageOptions' = None) -> 'str | None' method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    Parameters
    ----------
    path_or_buf : str, path object, file-like object, or None, default None
        String, path object (implementing os.PathLike[str]), or file-like
        object implementing a write() function. If None, the result is
        returned as a string. If a non-binary file object is passed, it should
        be opened with `newline=''`, disabling universal newlines. If a binary
        file object is passed, `mode` might need to contain a `'b'`.

        .. versionchanged:: 1.2.0

           Support for binary file objects was introduced.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, Callable, default None
        Format string for floating point numbers. If a Callable is given, it takes
        precedence over other numeric formatting parameters, like decimal.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.
    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str, default 'w'
        Python write mode. The available write modes are the same as
        :py:func:`open`.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
        is a non-binary file object.
    compression : str or dict, default 'infer'
        For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        Set to ``None`` for no compression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdCompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for faster compression and to create
        a reproducible gzip archive:
        ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

        .. versionchanged:: 1.1.0

           Passing compression options as keys in dict is
           supported for compression modes 'gzip', 'bz2', 'zstd', and 'zip'.

        .. versionchanged:: 1.2.0

            Compression is supported for binary file objects.

        .. versionchanged:: 1.2.0

            Previous versions forwarded dict entries for 'gzip' to
            `gzip.open` instead of `gzip.GzipFile` which prevented
            setting `mtime`.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    lineterminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).

        .. versionchanged:: 1.5.0

            Previously was line_terminator, changed for consistency with
            read_csv and the standard library 'csv' module.

    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

        .. versionadded:: 1.1.0

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP

    To write a csv file to a new folder or nested folder you will first
    need to create it using either Pathlib or os:

    >>> from pathlib import Path  # doctest: +SKIP
    >>> filepath = Path('folder/subfolder/out.csv')  # doctest: +SKIP
    >>> filepath.parent.mkdir(parents=True, exist_ok=True)  # doctest: +SKIP
    >>> df.to_csv(filepath)  # doctest: +SKIP

    >>> import os  # doctest: +SKIP
    >>> os.makedirs('folder/subfolder', exist_ok=True)  # doctest: +SKIP
    >>> df.to_csv('folder/subfolder/out.csv')  # doctest: +SKIP

### Получившися датафрейм сохраните в csv файл и загрузите на степик

In [76]:
task1_df.to_csv('result_task1_df.csv')

## Задание 2
### Загрузите файл task2.csv в котором содержится сводная информация о велопарковках в Москве

In [125]:
task2_df = pd.read_csv('task2.csv', index_col=[0, 1]) # не редактируйте

In [126]:
df = task2_df

In [127]:
df

                                count  sum
District            cost_type
Академический район Бесплатная      3   19
                    Платная         1    8
Алексеевский район  Бесплатная      9   88
                    Платная         7   64
Алтуфьевский район  Бесплатная      2   20
...                               ...  ...
район Южное Тушино  Платная         5   44
район Якиманка      Бесплатная      6   18
                    Платная         4   16
район Ясенево       Бесплатная      9   66
                    Платная         4   38

[235 rows x 2 columns]

### По каждому району (District) и типу (cost_type) содержится количество парковок (count) и суммарное количество мест на этих парковках (sum)

### Выполните преобразование таким образом чтобы получился новый датафрейм, где строки будут всё так же районы, а по колонкам будет идти суммарное количество мест на парковке в разбивке платные/бесплатные

cost_type               Бесплатная  Платная
District                                   
Академический район           19.0      8.0
Алексеевский район            88.0     64.0
Алтуфьевский район            20.0     30.0
Бабушкинский район            62.0     77.0
Басманный район              116.0    109.0
...                            ...      ...
район Южное Бутово            36.0     92.0
район Южное Медведково        60.0     18.0
район Южное Тушино            12.0     44.0
район Якиманка                18.0     16.0
район Ясенево                 66.0     38.0

In [204]:
df.unstack()

                                     count                sum
cost_type                       Бесплатная Платная Бесплатная Платная
District
Даниловский район                      2.0     3.0       11.0    21.0
Донской район                          3.0     3.0       26.0    12.0
Мещанский район                        NaN     1.0        NaN     8.0
Нагорный район                         3.0     6.0       30.0    42.0
район Бирюлёво Восточное               5.0    10.0       50.0    90.0
район Бирюлёво Западное                1.0     2.0       10.0    18.0
район Братеево                         3.0     3.0       17.0    30.0
район Зябликово                        4.0    11.0       40.0    98.0
район Москворечье-Сабурово             2.0     3.0       16.0    22.0
район Нагатино-Садовники               1.0     8.0       10.0    78.0
район Нагатинский Затон                6.0     2.0       45.0    20.0
район Орехово-Борисово Северное        2.0     8.0       20.0    76.0
район Орехово-Борисово Южное           7.0    10.0       66.0    85.0
район Царицыно                         6.0     4.0       56.0    38.0
район Чертаново Северное               6.0     2.0       58.0    20.0
район Чертаново Центральное            7.0     3.0       68.0    21.0
район Чертаново Южное                  9.0     4.0       86.0    36.0

In [130]:
df.unstack()['sum']

cost_type               Бесплатная  Платная
District
Академический район           19.0      8.0
Алексеевский район            88.0     64.0
Алтуфьевский район            20.0     30.0
Бабушкинский район            62.0     77.0
Басманный район              116.0    109.0
...                            ...      ...
район Южное Бутово            36.0     92.0
район Южное Медведково        60.0     18.0
район Южное Тушино            12.0     44.0
район Якиманка                18.0     16.0
район Ясенево                 66.0     38.0

[125 rows x 2 columns]

In [107]:
answer_2 = df.unstack()['sum']

In [108]:
answer_2.to_csv('ДЗ_по_Мульти_индексам_task2.csv')

In [109]:
pd.read_csv('ДЗ_по_Мульти_индексам_task2.csv')

                   District  Бесплатная  Платная
0       Академический район        19.0      8.0
1        Алексеевский район        88.0     64.0
2        Алтуфьевский район        20.0     30.0
3        Бабушкинский район        62.0     77.0
4           Басманный район       116.0    109.0
..                      ...         ...      ...
120      район Южное Бутово        36.0     92.0
121  район Южное Медведково        60.0     18.0
122      район Южное Тушино        12.0     44.0
123          район Якиманка        18.0     16.0
124           район Ясенево        66.0     38.0

[125 rows x 3 columns]

## Задание 3
### Снова загружаем датафрейм с прошлого степа

In [137]:
task3_df = pd.read_csv('task2.csv', index_col=[0, 1]) # не редактируйте

In [156]:
task3_df.unstack()['count']

cost_type               Бесплатная  Платная
District
Академический район            3.0      1.0
Алексеевский район             9.0      7.0
Алтуфьевский район             2.0      3.0
Бабушкинский район             7.0      9.0
Басманный район               37.0     45.0
...                            ...      ...
район Южное Бутово             4.0     10.0
район Южное Медведково         7.0      2.0
район Южное Тушино             2.0      5.0
район Якиманка                 6.0      4.0
район Ясенево                  9.0      4.0

[125 rows x 2 columns]

### Отберите информацию о велопарковках в районах: 
#### - Алексеевский район
#### - район Южное Тушино
#### - район Ясенево

In [206]:
task3_df.unstack()['count'].stack()[['Алексеевский район', 'район Южное Тушино', 'район Ясенево']].unstack()

cost_type           Бесплатная  Платная
District
Алексеевский район         9.0      7.0
район Южное Тушино         2.0      5.0
район Ясенево              9.0      4.0

In [160]:
df = task3_df.unstack()['count'].stack()[['Алексеевский район', 'район Южное Тушино', 'район Ясенево']].unstack()

### Посчитайте суммарное количество парковок в разрезе по платным и бесплатным
#### Для начала выполните преобразование как в прошлом задании, а потом вспомните, что мы проходили функцию суммирования по строкам и колонкам. Попробуй применить ее. На степик в поле с ответом введите 2 числа через пробел: количество по бесплатным и количество по платным
#### Например: 10 15

In [161]:
df['Бесплатная'].sum()

20.0

In [162]:
df['Платная'].sum()

16.0

## Задание 4. 
### Загрузите файл task4.csv в котором содержится сводная информация о велопарковках в Москве

In [171]:
task4_df = pd.read_csv('task4.csv', index_col=[0, 1, 2]) # не редактируйте

### По каждому административному округу (AdmArea), району (District) и типу (cost_type) содержится количество парковок (count) и суммарное количество мест на этих парковках (sum)

In [172]:
task4_df

                                                                         count  \
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная      1
                                 район Богородское           Бесплатная      2
                                                             Платная         1
                                 район Вешняки               Бесплатная      5
                                                             Платная         3
...                                                                        ...
Южный административный округ     район Чертаново Северное    Платная         2
                                 район Чертаново Центральное Бесплатная      7
                                                             Платная         3
                                 район Чертаново Южное       Бесплатная      9
                                                             Платная         4

                                                                         sum
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная    6
                                 район Богородское           Бесплатная   14
                                                             Платная       8
                                 район Вешняки               Бесплатная   35
                                                             Платная      17
...                                                                      ...
Южный административный округ     район Чертаново Северное    Платная      20
                                 район Чертаново Центральное Бесплатная   68
                                                             Платная      21
                                 район Чертаново Южное       Бесплатная   86
                                                             Платная      36

[247 rows x 2 columns]

### Посчитайте среднее количество бесплатных парковок в Южном административном округе. Ответ округлите вниз до целого числа. Ответ загрузите на степик.

In [179]:
task4_df

                                                                         count  \
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная      1
                                 район Богородское           Бесплатная      2
                                                             Платная         1
                                 район Вешняки               Бесплатная      5
                                                             Платная         3
...                                                                        ...
Южный административный округ     район Чертаново Северное    Платная         2
                                 район Чертаново Центральное Бесплатная      7
                                                             Платная         3
                                 район Чертаново Южное       Бесплатная      9
                                                             Платная         4

                                                                         sum
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная    6
                                 район Богородское           Бесплатная   14
                                                             Платная       8
                                 район Вешняки               Бесплатная   35
                                                             Платная      17
...                                                                      ...
Южный административный округ     район Чертаново Северное    Платная      20
                                 район Чертаново Центральное Бесплатная   68
                                                             Платная      21
                                 район Чертаново Южное       Бесплатная   86
                                                             Платная      36

[247 rows x 2 columns]

In [180]:
df.loc['Южный административный округ']

                                            count  sum
District                        cost_type
Даниловский район               Бесплатная      2   11
                                Платная         3   21
Донской район                   Бесплатная      3   26
                                Платная         3   12
Мещанский район                 Платная         1    8
Нагорный район                  Бесплатная      3   30
                                Платная         6   42
район Бирюлёво Восточное        Бесплатная      5   50
                                Платная        10   90
район Бирюлёво Западное         Бесплатная      1   10
                                Платная         2   18
район Братеево                  Бесплатная      3   17
                                Платная         3   30
район Зябликово                 Бесплатная      4   40
                                Платная        11   98
район Москворечье-Сабурово      Бесплатная      2   16
                                Платная         3   22
район Нагатино-Садовники        Бесплатная      1   10
                                Платная         8   78
район Нагатинский Затон         Бесплатная      6   45
                                Платная         2   20
район Орехово-Борисово Северное Бесплатная      2   20
                                Платная         8   76
район Орехово-Борисово Южное    Бесплатная      7   66
                                Платная        10   85
район Царицыно                  Бесплатная      6   56
                                Платная         4   38
район Чертаново Северное        Бесплатная      6   58
                                Платная         2   20
район Чертаново Центральное     Бесплатная      7   68
                                Платная         3   21
район Чертаново Южное           Бесплатная      9   86
                                Платная         4   36

In [181]:
df = df.loc['Южный административный округ']

In [190]:
df.unstack()

                                     count                sum
cost_type                       Бесплатная Платная Бесплатная Платная
District
Даниловский район                      2.0     3.0       11.0    21.0
Донской район                          3.0     3.0       26.0    12.0
Мещанский район                        NaN     1.0        NaN     8.0
Нагорный район                         3.0     6.0       30.0    42.0
район Бирюлёво Восточное               5.0    10.0       50.0    90.0
район Бирюлёво Западное                1.0     2.0       10.0    18.0
район Братеево                         3.0     3.0       17.0    30.0
район Зябликово                        4.0    11.0       40.0    98.0
район Москворечье-Сабурово             2.0     3.0       16.0    22.0
район Нагатино-Садовники               1.0     8.0       10.0    78.0
район Нагатинский Затон                6.0     2.0       45.0    20.0
район Орехово-Борисово Северное        2.0     8.0       20.0    76.0
район Орехово-Борисово Южное           7.0    10.0       66.0    85.0
район Царицыно                         6.0     4.0       56.0    38.0
район Чертаново Северное               6.0     2.0       58.0    20.0
район Чертаново Центральное            7.0     3.0       68.0    21.0
район Чертаново Южное                  9.0     4.0       86.0    36.0

In [191]:
df.unstack()['count']

cost_type                        Бесплатная  Платная
District
Даниловский район                       2.0      3.0
Донской район                           3.0      3.0
Мещанский район                         NaN      1.0
Нагорный район                          3.0      6.0
район Бирюлёво Восточное                5.0     10.0
район Бирюлёво Западное                 1.0      2.0
район Братеево                          3.0      3.0
район Зябликово                         4.0     11.0
район Москворечье-Сабурово              2.0      3.0
район Нагатино-Садовники                1.0      8.0
район Нагатинский Затон                 6.0      2.0
район Орехово-Борисово Северное         2.0      8.0
район Орехово-Борисово Южное            7.0     10.0
район Царицыно                          6.0      4.0
район Чертаново Северное                6.0      2.0
район Чертаново Центральное             7.0      3.0
район Чертаново Южное                   9.0      4.0

In [192]:
df.unstack()['count']['Бесплатная']

District
Даниловский район                  2.0
Донской район                      3.0
Мещанский район                    NaN
Нагорный район                     3.0
район Бирюлёво Восточное           5.0
район Бирюлёво Западное            1.0
район Братеево                     3.0
район Зябликово                    4.0
район Москворечье-Сабурово         2.0
район Нагатино-Садовники           1.0
район Нагатинский Затон            6.0
район Орехово-Борисово Северное    2.0
район Орехово-Борисово Южное       7.0
район Царицыно                     6.0
район Чертаново Северное           6.0
район Чертаново Центральное        7.0
район Чертаново Южное              9.0
Name: Бесплатная, dtype: float64

In [194]:
np.floor(df.unstack()['count']['Бесплатная'].mean())

4.0

## Задание 5. 
### Загрузите файл task4.csv в котором содержится сводная информация о велопарковках в Москве

In [195]:
task5_df = pd.read_csv('task4.csv', index_col=[0, 1, 2]) # не редактируйте

### По каждому административному округу (AdmArea), району (District) и типу (cost_type) содержится количество парковок (count) и суммарное количество мест на этих парковках (sum)

In [196]:
task5_df

                                                                         count  \
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная      1
                                 район Богородское           Бесплатная      2
                                                             Платная         1
                                 район Вешняки               Бесплатная      5
                                                             Платная         3
...                                                                        ...
Южный административный округ     район Чертаново Северное    Платная         2
                                 район Чертаново Центральное Бесплатная      7
                                                             Платная         3
                                 район Чертаново Южное       Бесплатная      9
                                                             Платная         4

                                                                         sum
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная    6
                                 район Богородское           Бесплатная   14
                                                             Платная       8
                                 район Вешняки               Бесплатная   35
                                                             Платная      17
...                                                                      ...
Южный административный округ     район Чертаново Северное    Платная      20
                                 район Чертаново Центральное Бесплатная   68
                                                             Платная      21
                                 район Чертаново Южное       Бесплатная   86
                                                             Платная      36

[247 rows x 2 columns]

### Найдите в каком районе восточного административного округа больше всего мест на бесплатных парковках. Правильный район выберите из списка на степике.

In [197]:
task5_df.loc['Восточный административный округ']

                                      count  sum
District                  cost_type
Нижегородский район       Бесплатная      1    6
район Богородское         Бесплатная      2   14
                          Платная         1    8
район Вешняки             Бесплатная      5   35
                          Платная         3   17
район Восточное Измайлово Бесплатная      1    8
                          Платная         1   10
район Гольяново           Бесплатная      2    9
                          Платная         3   26
район Ивановское          Бесплатная      2   16
                          Платная         3   20
район Измайлово           Бесплатная      2   11
                          Платная         5   31
район Косино-Ухтомский    Бесплатная      3   18
                          Платная         7   47
район Метрогородок        Бесплатная      4   18
район Новогиреево         Бесплатная      2   11
                          Платная         2   18
район Новокосино          Бесплатная      1    1
                          Платная         4   25
район Перово              Бесплатная      5   35
район Преображенское      Бесплатная      3   21
                          Платная         2   11
район Северное Измайлово  Бесплатная      1    1
                          Платная         2   18
район Соколиная Гора      Бесплатная      4   16
                          Платная         4   25
район Сокольники          Бесплатная      4   28

In [198]:
task5_df.loc['Восточный административный округ'].unstack()

                               count                sum
cost_type                 Бесплатная Платная Бесплатная Платная
District
Нижегородский район              1.0     NaN        6.0     NaN
район Богородское                2.0     1.0       14.0     8.0
район Вешняки                    5.0     3.0       35.0    17.0
район Восточное Измайлово        1.0     1.0        8.0    10.0
район Гольяново                  2.0     3.0        9.0    26.0
район Ивановское                 2.0     3.0       16.0    20.0
район Измайлово                  2.0     5.0       11.0    31.0
район Косино-Ухтомский           3.0     7.0       18.0    47.0
район Метрогородок               4.0     NaN       18.0     NaN
район Новогиреево                2.0     2.0       11.0    18.0
район Новокосино                 1.0     4.0        1.0    25.0
район Перово                     5.0     NaN       35.0     NaN
район Преображенское             3.0     2.0       21.0    11.0
район Северное Измайлово         1.0     2.0        1.0    18.0
район Соколиная Гора             4.0     4.0       16.0    25.0
район Сокольники                 4.0     NaN       28.0     NaN

In [199]:
task5_df.loc['Восточный административный округ'].unstack()['sum']

cost_type                  Бесплатная  Платная
District
Нижегородский район               6.0      NaN
район Богородское                14.0      8.0
район Вешняки                    35.0     17.0
район Восточное Измайлово         8.0     10.0
район Гольяново                   9.0     26.0
район Ивановское                 16.0     20.0
район Измайлово                  11.0     31.0
район Косино-Ухтомский           18.0     47.0
район Метрогородок               18.0      NaN
район Новогиреево                11.0     18.0
район Новокосино                  1.0     25.0
район Перово                     35.0      NaN
район Преображенское             21.0     11.0
район Северное Измайлово          1.0     18.0
район Соколиная Гора             16.0     25.0
район Сокольники                 28.0      NaN

In [211]:
task5_df.loc['Восточный административный округ'].unstack()['sum']['Бесплатная'].sort_values(ascending = False)

District
район Вешняки                35.0
район Перово                 35.0
район Сокольники             28.0
район Преображенское         21.0
район Косино-Ухтомский       18.0
район Метрогородок           18.0
район Ивановское             16.0
район Соколиная Гора         16.0
район Богородское            14.0
район Измайлово              11.0
район Новогиреево            11.0
район Гольяново               9.0
район Восточное Измайлово     8.0
Нижегородский район           6.0
район Новокосино              1.0
район Северное Измайлово      1.0
Name: Бесплатная, dtype: float64

In [201]:
task5_df.loc['Восточный административный округ'].unstack()['sum']['Бесплатная'].max()

35.0